@font-face { font-family: 'AGFutura'; src: url("../fonts/AGFutura.woff"); }

@font-face { font-family: 'AGFutura Bold'; src: url("../fonts/AGFutura.woff"); }

@font-face { font-family: 'Futuris'; src: url("../fonts/Futuris.woff"); }

* { margin: 0; padding: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { background: #fff; font-family: 'AG_Futura'; line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; }

input, textarea, button { border: none; outline: none; }

button { background: none; cursor: pointer; }

.h2 { margin-bottom: 20px; font-family: 'AG_Futura Bold'; font-size: 14px; color: #000; text-transform: uppercase; text-align: center; }
.h2:before { content: "- "; }
.h2:after { content: " -"; }

.h2_red { color: #e91818; }

.h2_today { height: 60px; line-height: 60px; color: #e91818; }

.h3 { font-size: 14px; }

.container { width: 1250px; margin: 0 auto; }

.header { position: relative; background: #282828; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4MjgyOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEwMTAxMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #282828), color-stop(100%, #101010)); background-image: -webkit-linear-gradient(#282828, #101010); background-image: -moz-linear-gradient(#282828, #101010); background-image: -o-linear-gradient(#282828, #101010); background-image: linear-gradient(#282828, #101010); -webkit-box-shadow: rgba(0, 0, 0, 0.36) 0 2px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.36) 0 2px 5px; box-shadow: rgba(0, 0, 0, 0.36) 0 2px 5px; z-index: 30; }
.header .container { height: 44px; }

.phone, .mail, .player { float: left; height: 44px; line-height: 44px; font-size: 14px; color: #fff; }

.phone { padding-right: 15px; margin-right: 15px; border-right: 1px solid #3b3b3b; }

.mail { margin-right: 80px; }

.player { position: relative; width: 270px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding-left: 18px; }
.player:before { content: ""; position: absolute; top: 15px; left: 0; background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -747px no-repeat; width: 10px; height: 12px; }

.user, .search { float: right; }

.user { margin-left: 15px; padding: 8px 0 8px 15px; border-left: 1px solid #3b3b3b; }
.user a { position: relative; color: #fff; }

.user__pic { float: left; margin-right: 10px; }

.user__out, .user__name { float: left; padding: 3px 0 1px 0; }

.user__out { border-bottom: 1px dashed #a4a4a4; }

.user__name { margin-right: 10px; border-bottom: 1px solid #6b6b6b; }

.search { width: 253px; height: 26px; margin-top: 9px; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.search input, .search button { height: 26px; background: none; }
.search input { float: left; width: 214px; padding: 0 5px; }
.search button { float: right; padding: 0 7px; }
.search i { display: block; background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -448px no-repeat; width: 15px; height: 15px; }

.top { position: relative; height: 49px; background: #00b8ff; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjhmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyYTllOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b8ff), color-stop(100%, #02a9e9)); background-image: -webkit-linear-gradient(#00b8ff, #02a9e9); background-image: -moz-linear-gradient(#00b8ff, #02a9e9); background-image: -o-linear-gradient(#00b8ff, #02a9e9); background-image: linear-gradient(#00b8ff, #02a9e9); -webkit-box-shadow: rgba(0, 0, 0, 0.36) 0 2px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.36) 0 2px 5px; box-shadow: rgba(0, 0, 0, 0.36) 0 2px 5px; z-index: 20; }

.nav { float: left; }
.nav li { float: left; }
.nav li:first-child a { padding: 0 10px 0 0; }
.nav a { display: block; height: 49px; line-height: 49px; padding: 0 10px; font-family: 'AG_Futura Bold'; font-size: 13px; color: #fff; text-shadow: rgba(0, 0, 0, 0.56) 0 1px 0; }

.navi_mod { margin-bottom: 60px; }

.online-title { position: relative; float: right; width: 332px; height: 49px; padding-left: 20px; background: url(../img/index_img/online_bg.jpg); line-height: 49px; text-align: left; font-family: 'AG_Futura Bold'; font-size: 13px; color: #fff; text-shadow: rgba(0, 0, 0, 0.56) 0 1px 0; }
.online-title:after, .online-title:before { content: ""; position: absolute; top: 0; width: 1px; height: 49px; background: rgba(255, 255, 255, 0.3); }
.online-title:after { right: 0; }
.online-title:before { left: 0; }
.online-title span { position: relative; }

.online-close { position: absolute; top: 4px; right: -18px; background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -703px no-repeat; width: 10px; height: 12px; }

.footer { margin-bottom: 50px; padding: 30px 20px 30px 40px; border-bottom: 5px solid #eaeaea; background: #fafafa; overflow: hidden; }

.footer__contacts { float: left; }

.footer__phone { margin-bottom: 10px; font-family: 'AG_Futura Bold'; font-size: 14px; color: #000; }

.footer__mail { margin-bottom: 30px; }
.footer__mail a { color: #0c0c0c; text-decoration: underline; }

.footer__adress b, .footer__adress span { display: block; margin-bottom: 10px; }
.footer__adress b { font-family: 'AG_Futura Bold'; font-size: 14px; color: #000; }
.footer__adress span, .footer__adress p { color: #0c0c0c; font-size: 12px; }
.footer__adress span { font-family: 'PT Sans', sans-serif; font-size: 12px; font-weight: 700; }
.footer__adress p { font-family: 'PT Sans', sans-serif; font-size: 12px; line-height: 1.3; }

.footer__right { float: right; width: 265px; padding-left: 30px; border-left: 1px solid #ececec; }

.payment { overflow: hidden; }
.payment li { float: left; margin-right: 15px; }

.payment__ym { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -301px no-repeat; width: 32px; height: 32px; }

.payment__sb { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -133px no-repeat; width: 32px; height: 32px; }

.payment__mk { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -259px no-repeat; width: 32px; height: 32px; }

.payment__wm { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -175px no-repeat; width: 32px; height: 32px; }

.payment__kw { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -217px no-repeat; width: 32px; height: 32px; }

.footer__social { padding-top: 20px; border-top: 1px solid #ececec; margin-top: 25px; }
.footer__social ul { overflow: hidden; }
.footer__social li { float: left; margin-bottom: 13px; }
.footer__social a { position: relative; display: block; width: 90px; height: 25px; line-height: 25px; padding-left: 30px; font-family: 'PT Sans', sans-serif; font-size: 13px; color: #666666; }
.footer__social a:before { content: ""; position: absolute; top: 0; left: 0; }

.footer__vk { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -378px no-repeat; width: 26px; height: 25px; }

.footer__tw { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -343px no-repeat; width: 26px; height: 25px; }

.footer__fb { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -413px no-repeat; width: 26px; height: 25px; }

.nav-list { float: left; }
.nav-list ul { float: left; width: 155px; }
.nav-list ul:last-child { margin: 0 15px 30px 15px; padding: 0 15px 0 30px; border-left: 1px solid #ececec; border-right: 1px solid #ececec; }
.nav-list li { margin-bottom: 12px; }
.nav-list a { font-family: 'PT Sans', sans-serif; font-size: 13px; color: #0c0c0c; }
.nav-list .nav-list__bold { font-family: 'AG_Futura Bold'; font-size: 14px; color: #000; line-height: 1.3; }

.btn-orange { height: 41px; background: #ffcc00; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U5OTQwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #e99400)); background-image: -webkit-linear-gradient(#ffcc00, #e99400); background-image: -moz-linear-gradient(#ffcc00, #e99400); background-image: -o-linear-gradient(#ffcc00, #e99400); background-image: linear-gradient(#ffcc00, #e99400); -webkit-box-shadow: rgba(0, 0, 0, 0.38) 0 1px 0; -moz-box-shadow: rgba(0, 0, 0, 0.38) 0 1px 0; box-shadow: rgba(0, 0, 0, 0.38) 0 1px 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; text-align: center; font-family: 'AG_Futura Bold'; font-size: 16px; color: #fff; text-shadow: 0 1px 1px rgba(97, 62, 0, 0.54); cursor: pointer; }

.txt-field { margin-bottom: 20px; font-family: 'Futuris'; }
.txt-field label { display: block; margin-bottom: 4px; font-size: 14px; color: #fff; }
.txt-field input { width: 300px; height: 33px; padding: 0 5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; font-family: 'Futuris'; font-size: 16px; color: #9a9a9a; }

.select { font-family: 'Futuris'; }

.select__title { display: block; margin-bottom: 2px; color: #fff; }

.select__value { position: relative; width: 93px; height: 33px; line-height: 33px; padding-left: 5px; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; cursor: pointer; color: #9a9a9a; font-size: 16px; }
.select__value:after { content: ""; position: absolute; top: 14px; right: 5px; background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -657px no-repeat; width: 9px; height: 8px; }
.select__value select { position: absolute; top: 0; left: 0; width: 98px; height: 33px; cursor: pointer; opacity: 0; z-index: 10; }

.item { padding-bottom: 60px; text-align: center; }

.item__pic { margin-bottom: 5px; }
.item__pic img { display: inline-block; min-height: 180px; }

.item__cat a, .item__cat span, .item__number a, .item__number span { font-family: 'AG_Futura Bold'; font-size: 9px; text-transform: uppercase; color: #aec365; letter-spacing: 2px; }

.item__cat { padding: 15px 0 10px 0; }

.item__number { padding-bottom: 10px; }

.item__title { margin-bottom: 5px; }
.item__title a { display: inline-block; line-height: 1; vertical-align: middle; font-family: 'AG_Futura Bold'; font-size: 22px; color: #000; }
.item__title span { border-bottom: 1px solid #d3d3d3; line-height: 1.3; }

.item__rate { margin-bottom: 23px; }
.item__rate img { min-height: 18px; }

.item__comm { margin-bottom: 10px; }
.item__comm span { position: relative; padding: 0 66px 0 22px; font-family: 'PT Sans', sans-serif; font-size: 12px; font-weight: 700; color: #dfdfdf; }
.item__comm span:before { content: ""; position: absolute; top: 2px; left: 0; background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -769px no-repeat; width: 16px; height: 14px; }
.item__comm img { position: absolute; top: 2px; right: 0; }

.item__desc { padding-top: 2px; overflow: hidden; }
.item__desc a { display: block; padding-left: 16px; line-height: 1.3; font-family: 'PT Sans', sans-serif; font-size: 13px; font-weight: 700; color: #000; }
.item__desc span { position: relative; text-decoration: underline; }
.item__desc span:before { content: ""; position: absolute; top: 1px; left: -16px; background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -473px no-repeat; width: 10px; height: 16px; }
.item__desc p { padding: 0 10px; margin: 15px 0; line-height: 1.3; font-family: 'PT Sans', sans-serif; font-size: 14px; color: #000; }

.item__price { padding-bottom: 20px; font-family: 'AG_Futura Bold'; font-size: 18px; color: #000; }

.navi { padding: 20px 0; border-top: 1px solid #ececec; text-align: center; font-size: 0; }
.navi span { padding: 0 20px; font-family: 'AG_Futura Bold'; font-size: 14px; color: #000; }

.navi__curr, .navi__total { font-weight: normal; }
.navi__curr.disabled, .navi__total.disabled { color: #a2a2a2; }

.navi__prev { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -725px no-repeat; width: 8px; height: 12px; }
.navi__prev.disabled { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -613px no-repeat; width: 8px; height: 12px; }

.navi__next { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -793px no-repeat; width: 8px; height: 12px; }
.navi__next.disabled { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -635px no-repeat; width: 8px; height: 12px; }

.date { margin-bottom: 15px; text-align: center; }
.date span { display: inline-block; height: 30px; padding: 0 20px; background: #aec365; line-height: 30px; font-family: 'AG_Futura Bold'; font-size: 11px; color: #fff; }

.tape { display: inline-block; margin-bottom: 45px; text-align: center; }

.tape_mod { margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #ececec; }

.tape_mod-1 { padding-bottom: 30px; }

.tape__cat { margin-bottom: 12px; }
.tape__cat a { font-family: 'AG_Futura Bold'; font-size: 10px; text-transform: uppercase; color: #626262; }

.tape__pic { margin-bottom: 15px; }
.tape__pic img { display: inline-block; }

.tape__title { margin-bottom: 15px; padding: 0 35px; }
.tape__title a { line-height: 1.3; font-family: 'PT Sans', sans-serif; font-size: 15px; color: #000; border-bottom: 1px solid #d3d3d3; font-weight: 700; }

.tape__user { margin-bottom: 7px; text-align: center; font-size: 0; }
.tape__user a { display: inline-block; height: 26px; line-height: 26px; }
.tape__user img { float: left; margin-right: 10px; }
.tape__user span { border-bottom: 1px solid #656565; font-family: 'PT Sans', sans-serif; font-size: 14px; color: #000; font-weight: 700; }

.tape__detail { text-align: center; font-size: 0; }
.tape__detail span { position: relative; display: inline-block; height: 14px; line-height: 14px; font-family: 'PT Sans', sans-serif; font-size: 13px; color: #d3d3d3; font-weight: 700; }
.tape__detail span:before { content: ""; position: absolute; top: 0; left: 0; }

.tape__comm { padding-left: 21px; }
.tape__comm:before { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -769px no-repeat; width: 16px; height: 14px; }

.tape__like { padding-left: 25px; margin-left: 9px; }
.tape__like:before { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -565px no-repeat; width: 18px; height: 14px; }

.tape__people { margin: 20px 0 10px 0; font-size: 0; text-align: center; }
.tape__people img { display: inline-block; margin: 0 3px; }

.tape__go a { font-family: 'PT Sans', sans-serif; font-size: 14px; color: #000; font-weight: 700; border-bottom: 1px dashed #a1a1a1; }

.circle { text-align: center; }
.circle img { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.circle__pic { min-height: 138px; margin-bottom: 20px; }

.circle__date { margin-bottom: 15px; font-family: 'AG_Futura Bold'; font-size: 10px; color: #626262; letter-spacing: 2px; }

.slider { position: relative; }

.slider_mod .item { padding-bottom: 0px; }

.slider__item { height: 1667px; }

.slider_circle .slider__item { height: 414px; }

.slider-middle { position: relative; height: 1633px; padding-bottom: 55px; }

.column-wrap { width: auto; height: 1633px; overflow: hidden; }

.column { position: relative; left: 0; height: 1633px; -webkit-column-width: 290px; -moz-column-width: 290px; column-width: 290px; -webkit-column-rule: 1px solid #ececec; -moz-column-rule: 1px solid #ececec; column-rule: 1px solid #ececec; -webkit-column-gap: 1px; -moz-column-gap: 1px; column-gap: 1px; }
.column .tape { margin: 0 10px 45px 10px; }
.column .date { margin: 0 10px 15px 10px; }
.column .tape_mod { margin: 0 10px 30px 10px; }

.navi_column { position: absolute; bottom: 0; left: 0; width: 100%; border: none; }
