.logo a { font: 0/0 a; text-shadow: none; color: transparent; }

.online__type label { -moz-user-select: none; -webkit-user-select: none; user-select: none; }

.online__sbt, .enter__extra input[type="submit"] { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U5OTQwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #e99400)); background-image: -webkit-linear-gradient(#ffcc00, #e99400); background-image: -moz-linear-gradient(#ffcc00, #e99400); background-image: -o-linear-gradient(#ffcc00, #e99400); background-image: linear-gradient(#ffcc00, #e99400); -webkit-box-shadow: rgba(0, 0, 0, 0.38) 0 1px 0; -moz-box-shadow: rgba(0, 0, 0, 0.38) 0 1px 0; box-shadow: rgba(0, 0, 0, 0.38) 0 1px 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; color: #fff; text-shadow: 0 1px 1px rgba(97, 62, 0, 0.54); cursor: pointer; }

@font-face { font-family: 'AG_Futura'; src: url("../fonts/AG_Futura.woff") format("woff"); }

@font-face { font-family: 'AG_Futura Bold'; src: url("../fonts/AG_Futura Bold.woff") format("woff"); }

@font-face { font-family: 'Futuris'; src: url("../fonts/Futuris.woff") format("woff"); }

@font-face { font-family: 'Futuris Bold'; src: url("../fonts/Futuris Bold.woff") format("woff"); }

* { margin: 0; padding: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { background: #fff; font-family: 'Futuris', Arial, sans-serif; line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; }

input, textarea, button { border: none; outline: none; }

button { background: none; cursor: pointer; }

.h2 { padding-bottom: 20px; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 20px; color: #000; text-transform: uppercase; text-align: center; }
.h2:before { content: "- "; }
.h2:after { content: " -"; }

.h2_green { color: #21ab9c; }

.h2_yellow { color: #ffc000; }

.h2_today { height: 60px; line-height: 60px; color: #e91818; }

.h3 { font-size: 14px; }

.container { width: 1250px; margin: 0 auto; }

.header { position: relative; z-index: 100; }

.header__top { background: #fff; }
.header__top .container { position: relative; height: 65px; font-family: Arial, sans-serif; }

.header__bottom .container { position: relative; height: 23px; background: #fff; }

.logo { position: absolute; top: -34px; left: 0; }
.logo a { display: block; background: url('../img/index_img/icons-s81a8954d34.png') 0 0 no-repeat; width: 160px; height: 83px; }
.logo:before { content: ''; position: absolute; top: -6px; left: -7px; width: 96px; height: 96px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #fff; z-index: -1; }

.phone, .mail, .search, .radio { float: left; }

.phone { width: 165px; margin: 13px 0 0 180px; font-size: 17px; color: #666; }
.phone span { font-size: 13px; font-weight: bold; color: #000; }

.mail { width: 147px; margin-top: 13px; }
.mail a { font-size: 16px; color: #666; }
.mail span { font-weight: bold; color: #000; }

.search { height: 24px; margin: 8px 50px 0 0; padding-left: 5px; border: 1px solid #e8e8e8; -webkit-border-radius: 3px 1px 1px 3px; -moz-border-radius: 3px 1px 1px 3px; -ms-border-radius: 3px 1px 1px 3px; -o-border-radius: 3px 1px 1px 3px; border-radius: 3px 1px 1px 3px; }
.search input { float: left; width: 70px; height: 24px; background: none; -moz-transition: width 0.3s linear; -o-transition: width 0.3s linear; -webkit-transition: width 0.3s linear; -ms-transition: width 0.3s linear; transition: width 0.3s linear; }
.search input:focus { width: 140px; }
.search button { position: relative; float: right; height: 24px; width: 30px; }
.search i { position: absolute; top: 7px; right: 9px; background: url('../img/index_img/icons-s81a8954d34.png') 0 -1140px no-repeat; width: 12px; height: 12px; }

.exlusive-link { position: relative; float: right; width: 66px; height: 40px; margin: -12px 11px 0 0; }
.exlusive-link i { position: absolute; top: 0px; left: 0px; background: url('../img/index_img/icons-s81a8954d34.png') 0 -93px no-repeat; width: 66px; height: 90px; }

.radio, .enter-btn { position: relative; height: 24px; margin-top: 8px; border: 1px solid #cecece; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-color: #fff; -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05); -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05); box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSI0NSUiIHN0b3AtY29sb3I9InJnYmEoMjI4LCAyMjgsIDIyOCwgMC41MykiLz48c3RvcCBvZmZzZXQ9IjQ5Ljk2JSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUzKSIvPjxzdG9wIG9mZnNldD0iNTUlIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNTMpIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(45%, rgba(228, 228, 228, 0.53)), color-stop(49.96%, rgba(255, 255, 255, 0.53)), color-stop(55%, rgba(255, 255, 255, 0.53))); background-image: -webkit-linear-gradient(bottom, rgba(228, 228, 228, 0.53) 45%, rgba(255, 255, 255, 0.53) 49.96%, rgba(255, 255, 255, 0.53) 55%); background-image: -moz-linear-gradient(bottom, rgba(228, 228, 228, 0.53) 45%, rgba(255, 255, 255, 0.53) 49.96%, rgba(255, 255, 255, 0.53) 55%); background-image: -o-linear-gradient(bottom, rgba(228, 228, 228, 0.53) 45%, rgba(255, 255, 255, 0.53) 49.96%, rgba(255, 255, 255, 0.53) 55%); background-image: linear-gradient(bottom, rgba(228, 228, 228, 0.53) 45%, rgba(255, 255, 255, 0.53) 49.96%, rgba(255, 255, 255, 0.53) 55%); line-height: 26px; }

.radio { padding: 0 17px 0 30px; font-family: 'PT Sans', Arial, sans-serif; font-size: 10px; font-weight: 700; color: #666; text-transform: uppercase; }
.radio span { margin-right: 5px; color: #000; }
.radio i { position: absolute; top: 6px; left: 8px; background: url('../img/index_img/icons-s81a8954d34.png') 0 -1036px no-repeat; width: 14px; height: 15px; }

.enter-btn { float: right; padding: 0 20px 0 6px; }
.enter-btn span { float: left; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 12px; color: #0099ff; text-transform: uppercase; line-height: 16px; }

.enter-btn__fb { margin-right: 6px; background: url('../img/index_img/icons-s81a8954d34.png') 0 -975px no-repeat; width: 16px; height: 16px; }

.enter-btn__vk { margin-right: 14px; background: url('../img/index_img/icons-s81a8954d34.png') 0 -1114px no-repeat; width: 16px; height: 16px; }

.nav { float: left; margin-left: 180px; }
.nav ul { overflow: hidden; }
.nav li { position: relative; float: left; margin-left: 40px; }
.nav li:after { content: ''; position: absolute; top: 3px; left: -23px; background: url('../img/index_img/icons-s81a8954d34.png') 0 -1344px no-repeat; width: 6px; height: 8px; }
.nav li:first-child { margin-left: 0px; }
.nav li:first-child:after { display: none; }
.nav a { display: block; padding-bottom: 8px; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 14px; color: #000; text-transform: uppercase; }
.nav a:hover { border-bottom: 4px solid #ffc000; }

.online { position: relative; float: right; width: 275px; height: 40px; margin-top: -12px; }
.online form { position: absolute; top: 0; left: 0; width: 275px; background: url(../img/index_img/online_bg.jpg); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: rgba(1, 108, 180, 0.5) 0 0 5px inset, rgba(1, 108, 180, 0.5) 0 -5px 15px inset; -moz-box-shadow: rgba(1, 108, 180, 0.5) 0 0 5px inset, rgba(1, 108, 180, 0.5) 0 -5px 15px inset; box-shadow: rgba(1, 108, 180, 0.5) 0 0 5px inset, rgba(1, 108, 180, 0.5) 0 -5px 15px inset; }

.online__details { display: none; width: 245px; padding: 15px; }

.online__title { position: relative; width: 275px; height: 40px; padding-left: 15px; text-align: left; font-family: 'Futuris Bold', Arial, sans-serif; font-size: 14px; text-transform: uppercase; color: #fff; text-shadow: rgba(0, 0, 0, 0.56) 0 1px 1px; }
.online__title span { position: relative; }
.online__title i { display: none; position: absolute; top: 2px; right: -18px; background: url('../img/index_img/icons-s81a8954d34.png') 0 -1476px no-repeat; width: 10px; height: 12px; }
.online__title.open i { display: block; }

.online__detail { padding: 15px; }

.online__type { height: 34px; margin-bottom: 8px; -webkit-box-shadow: rgba(0, 0, 0, 0.36) 0 1px 1px; -moz-box-shadow: rgba(0, 0, 0, 0.36) 0 1px 1px; box-shadow: rgba(0, 0, 0, 0.36) 0 1px 1px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; text-align: center; }
.online__type li { float: left; background: #00b8ff; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjhmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyYTllOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b8ff), color-stop(100%, #02a9e9)); background-image: -webkit-linear-gradient(#00b8ff, #02a9e9); background-image: -moz-linear-gradient(#00b8ff, #02a9e9); background-image: -o-linear-gradient(#00b8ff, #02a9e9); background-image: linear-gradient(#00b8ff, #02a9e9); }
.online__type label { display: block; height: 34px; line-height: 34px; font-size: 13px; font-family: 'AG_Futura Bold', Arial, sans-serif; color: #fff; text-shadow: 0 1px 1px rgba(97, 62, 0, 0.54); cursor: pointer; }
.online__type label.active { background: #ffcc00; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U5OTQwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #e99400)); background-image: -webkit-linear-gradient(#ffcc00, #e99400); background-image: -moz-linear-gradient(#ffcc00, #e99400); background-image: -o-linear-gradient(#ffcc00, #e99400); background-image: linear-gradient(#ffcc00, #e99400); -webkit-box-shadow: rgba(74, 32, 0, 0.42) 0 1px 7px inset; -moz-box-shadow: rgba(74, 32, 0, 0.42) 0 1px 7px inset; box-shadow: rgba(74, 32, 0, 0.42) 0 1px 7px inset; }
.online__type input { display: none; }

.online__tour { width: 60px; }

.online__hotel { width: 75px; }

.online__avia { width: 110px; }

.online__reserve .txt-field input { width: 235px; }

.online__date { height: 51px; margin-bottom: 20px; }
.online__date .txt-field { position: relative; float: right; }
.online__date .txt-field:after { content: ""; position: absolute; top: 25px; right: 5px; background: url('../img/index_img/icons-s81a8954d34.png') 0 -1448px no-repeat; width: 18px; height: 18px; }
.online__date .txt-field input { position: relative; width: 110px; line-height: 33px; }
.online__date .txt-field:first-child { float: left; }

.online__people { height: 51px; margin-bottom: 20px; }
.online__people .select { float: left; margin-left: 8px; }
.online__people .select:first-child { margin-left: 0px; }
.online__people .select__value { width: 71px; }

.online__sbt { width: 245px; height: 41px; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 16px; }

.footer { margin-bottom: 50px; padding: 30px 20px 30px 40px; border-bottom: 5px solid #eaeaea; background: #fafafa; overflow: hidden; }

.footer__contacts { float: left; }

.footer__phone { margin-bottom: 10px; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 14px; color: #000; }

.footer__mail { margin-bottom: 30px; }
.footer__mail a { color: #0c0c0c; text-decoration: underline; }

.footer__adress b, .footer__adress span { display: block; margin-bottom: 10px; }
.footer__adress b { font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 14px; color: #000; }
.footer__adress span, .footer__adress p { color: #0c0c0c; font-size: 12px; }
.footer__adress span { font-family: 'PT Sans', sans-serif; font-size: 12px; font-weight: 700; }
.footer__adress p { font-family: 'PT Sans', sans-serif; font-size: 12px; line-height: 1.3; }

.footer__right { float: right; width: 265px; padding-left: 30px; border-left: 1px solid #ececec; }

.payment { overflow: hidden; }
.payment li { float: left; margin-right: 15px; }

.payment__ym { background: url('../img/index_img/icons-s81a8954d34.png') 0 -795px no-repeat; width: 32px; height: 32px; }

.payment__sb { background: url('../img/index_img/icons-s81a8954d34.png') 0 -499px no-repeat; width: 32px; height: 32px; }

.payment__mk { background: url('../img/index_img/icons-s81a8954d34.png') 0 -719px no-repeat; width: 32px; height: 32px; }

.payment__wm { background: url('../img/index_img/icons-s81a8954d34.png') 0 -541px no-repeat; width: 32px; height: 32px; }

.payment__kw { background: url('../img/index_img/icons-s81a8954d34.png') 0 -639px no-repeat; width: 32px; height: 32px; }

.footer__social { padding-top: 20px; border-top: 1px solid #ececec; margin-top: 25px; }
.footer__social ul { overflow: hidden; }
.footer__social li { float: left; margin-bottom: 13px; }
.footer__social a { position: relative; display: block; width: 90px; height: 25px; line-height: 25px; padding-left: 30px; font-family: 'PT Sans', sans-serif; font-size: 13px; color: #666666; }
.footer__social a:before { content: ""; position: absolute; top: 0; left: 0; }

.footer__vk { background: url('../img/index_img/icons-s81a8954d34.png') 0 -940px no-repeat; width: 26px; height: 25px; }

.footer__tw { background: url('../img/index_img/icons-s81a8954d34.png') 0 -905px no-repeat; width: 26px; height: 25px; }

.footer__fb { background: url('../img/index_img/icons-s81a8954d34.png') 0 -1001px no-repeat; width: 26px; height: 25px; }

.nav-list { float: left; }
.nav-list ul { float: left; width: 155px; }
.nav-list ul:last-child { margin: 0 15px 30px 15px; padding: 0 15px 0 30px; border-left: 1px solid #ececec; border-right: 1px solid #ececec; }
.nav-list li { margin-bottom: 12px; }
.nav-list a { font-family: 'PT Sans', sans-serif; font-size: 13px; color: #0c0c0c; }
.nav-list .nav-list__bold { font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 14px; color: #000; line-height: 1.3; }

.breadcrumps { background: #f5f5f5; margin-bottom: 60px; }
.breadcrumps .container { height: 34px; line-height: 34px; }
.breadcrumps ul { overflow: hidden; }
.breadcrumps li { float: left; margin-right: 11px; font-family: 'PT Sans', Arial, sans-serif; font-size: 14px; font-weight: 700; color: #000; }
.breadcrumps span { margin-left: 7px; color: #666; }
.breadcrumps a { color: #666; font-weight: 400; }

.rating, .rating-choice { width: 100px !important; height: 18px; overflow: hidden; }
.rating img, .rating-choice img { float: left; margin-right: 2px; }

.txt-field { margin-bottom: 20px; font-family: 'Futuris', Arial, sans-serif; }
.txt-field label { display: block; margin-bottom: 4px; font-size: 14px; color: #fff; }
.txt-field input { height: 33px; padding: 0 5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; font-family: 'Futuris', Arial, sans-serif; font-size: 16px; color: #9a9a9a; }

.select { font-family: 'Futuris', Arial, sans-serif; }

.select__title { display: block; margin-bottom: 2px; color: #fff; }

.select__value { position: relative; height: 33px; line-height: 33px; padding-left: 5px; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; cursor: pointer; color: #9a9a9a; font-size: 16px; }
.select__value:after { content: ""; position: absolute; top: 14px; right: 5px; background: url('../img/index_img/icons-s81a8954d34.png') 0 -1430px no-repeat; width: 9px; height: 8px; }
.select__value select { position: absolute; top: 0; left: 0; width: 76px; height: 33px; cursor: pointer; opacity: 0; z-index: 10; }

.navi { padding: 25px 0; border-top: 1px solid #dadada; text-align: center; font-size: 0; }
.navi span { padding: 0 20px; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 14px; color: #000; }

.navi_mod { margin-bottom: 60px; }

.navi_no-brd { border: none; }

.navi__curr, .navi__total { font-weight: normal; }
.navi__curr.disabled, .navi__total.disabled { color: #a2a2a2; }

.navi__prev { background: url('../img/index_img/icons-s81a8954d34.png') 0 -1498px no-repeat; width: 8px; height: 12px; }
.navi__prev.disabled { background: url('../img/index_img/icons-s81a8954d34.png') 0 -1386px no-repeat; width: 8px; height: 12px; }

.navi__next { background: url('../img/index_img/icons-s81a8954d34.png') 0 -1585px no-repeat; width: 8px; height: 12px; }
.navi__next.disabled { background: url('../img/index_img/icons-s81a8954d34.png') 0 -1408px no-repeat; width: 8px; height: 12px; }

.slider { position: relative; }

.slider_mod .item { padding-bottom: 0px; }
.slider_mod .item__price { border: none; }

.slider__item { height: 1642px; }
.slider__item .item:last-child .item__price { height: 414px; }

.slider_circle .slider__item { height: 350px; }

.slider_tapes .slider__item { padding-left: 16px; }

.popup-bg { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(64, 190, 238, 0.7); z-index: 1000; }

.popup { display: none; position: fixed; top: 130px; left: 50%; background: #fff; border: 1px solid #bebebe; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; z-index: 1100; }

.popup_enter { width: 400px; margin-left: -200px; }

.popup__title { padding: 30px 0 20px 50px; background: #fff; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RmZThlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfe8ed)); background-image: -webkit-linear-gradient(#ffffff, #dfe8ed); background-image: -moz-linear-gradient(#ffffff, #dfe8ed); background-image: -o-linear-gradient(#ffffff, #dfe8ed); background-image: linear-gradient(#ffffff, #dfe8ed); border-bottom: 1px solid #e4e4e4; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 22px; color: #10212d; text-transform: uppercase; }

.popup__close { position: absolute; top: 35px; right: 30px; background: url('../img/index_img/icons-s81a8954d34.png') 0 -1089px no-repeat; width: 14px; height: 15px; }

.enter__social { padding: 40px 45px; border-bottom: 1px solid #e4e4e4; }
.enter__social button { position: relative; width: 310px; height: 42px; padding-left: 50px; border-style: solid; border-width: 1px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 18px; color: #fff; }
.enter__social button:before { content: ""; position: absolute; top: 6px; left: 13px; }
.enter__social button i { position: absolute; top: 0; left: 52px; width: 1px; height: 30px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjQpIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDApIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); background-image: linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
.enter__social button i:before { content: ""; position: absolute; top: 0; left: 1px; width: 1px; height: 30px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1M2U3MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgzNywgNjIsIDExMiwgMCkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #253e70), color-stop(100%, rgba(37, 62, 112, 0))); background-image: -webkit-linear-gradient(top, #253e70, rgba(37, 62, 112, 0)); background-image: -moz-linear-gradient(top, #253e70, rgba(37, 62, 112, 0)); background-image: -o-linear-gradient(top, #253e70, rgba(37, 62, 112, 0)); background-image: linear-gradient(top, #253e70, rgba(37, 62, 112, 0)); }

.enter__social-fb { margin-bottom: 25px; background: #6179aa; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxNzlhYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM3NTU5MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6179aa), color-stop(100%, #375591)); background-image: -webkit-linear-gradient(#6179aa, #375591); background-image: -moz-linear-gradient(#6179aa, #375591); background-image: -o-linear-gradient(#6179aa, #375591); background-image: linear-gradient(#6179aa, #375591); border-color: #253e70; -webkit-box-shadow: #253e70 0 5px 0, rgba(255, 255, 255, 0.05) 0 -1px 0 inset, rgba(255, 255, 255, 0.4) -1px 1px 0 inset; -moz-box-shadow: #253e70 0 5px 0, rgba(255, 255, 255, 0.05) 0 -1px 0 inset, rgba(255, 255, 255, 0.4) -1px 1px 0 inset; box-shadow: #253e70 0 5px 0, rgba(255, 255, 255, 0.05) 0 -1px 0 inset, rgba(255, 255, 255, 0.4) -1px 1px 0 inset; }
.enter__social-fb:before { background: url('../img/index_img/icons-s81a8954d34.png') 0 -1216px no-repeat; width: 28px; height: 28px; }

.enter__social-vk { background: #296fb9; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NmZiOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEzNDk4NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #296fb9), color-stop(100%, #134985)); background-image: -webkit-linear-gradient(#296fb9, #134985); background-image: -moz-linear-gradient(#296fb9, #134985); background-image: -o-linear-gradient(#296fb9, #134985); background-image: linear-gradient(#296fb9, #134985); border-color: #253e70; -webkit-box-shadow: #253e70 0 5px 0, rgba(255, 255, 255, 0.05) 0 -1px 0 inset, rgba(255, 255, 255, 0.4) -1px 1px 0 inset; -moz-box-shadow: #253e70 0 5px 0, rgba(255, 255, 255, 0.05) 0 -1px 0 inset, rgba(255, 255, 255, 0.4) -1px 1px 0 inset; box-shadow: #253e70 0 5px 0, rgba(255, 255, 255, 0.05) 0 -1px 0 inset, rgba(255, 255, 255, 0.4) -1px 1px 0 inset; }
.enter__social-vk:before { background: url('../img/index_img/icons-s81a8954d34.png') 0 -681px no-repeat; width: 28px; height: 28px; }

.enter__extra-open { padding: 0 45px; }
.enter__extra-open button { height: 50px; font-size: 14px; color: #464646; text-decoration: underline; }

.enter__extra { display: none; padding: 35px 45px 20px 45px; border-top: 1px solid #e4e4e4; }
.enter__extra input[type="text"], .enter__extra input[type="password"] { width: 278px; height: 47px; padding: 0 15px; border: 1px solid #e2e2e2; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px inset; -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px inset; box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px inset; font-size: 18px; color: #000; }
.enter__extra input[type="text"]:focus, .enter__extra input[type="password"]:focus { border-color: #0099ff; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 7px inset, #0099ff 0 0 7px; -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 7px inset, #0099ff 0 0 7px; box-shadow: rgba(0, 0, 0, 0.1) 0 0 7px inset, #0099ff 0 0 7px; }
.enter__extra input[type="text"] { margin-bottom: 20px; }
.enter__extra input[type="password"] { margin-bottom: 10px; }
.enter__extra input[type="submit"] { width: 310px; height: 40px; margin-top: 10px; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 18px; }
.enter__extra a { font-family: Arial, Tahoma, sans-serif; font-size: 12px; color: #464646; text-decoration: underline; }

.inner { height: 70px; margin-top: -20px; background: url(../img/hotel_img/inner.jpg) no-repeat 50% 0; background-size: cover; border-bottom: 5px solid #1a113a; }
