@font-face { font-family: 'AGFutura'; src: url("../fonts/AGFutura.woff"); }

@font-face { font-family: 'AGFutura Bold'; src: url("../fonts/AGFutura.woff"); }

@font-face { font-family: 'Futuris'; src: url("../fonts/Futuris.woff"); }
