@font-face { font-family: 'AG_Futura'; src: url("../fonts/AG_Futura.woff") format("woff"); }

@font-face { font-family: 'AG_Futura Bold'; src: url("../fonts/AG_Futura Bold.woff") format("woff"); }

@font-face { font-family: 'Futuris'; src: url("../fonts/Futuris.woff") format("woff"); }

@font-face { font-family: 'Futuris Bold'; src: url("../fonts/Futuris Bold.woff") format("woff"); }

.gd-top { margin-bottom: 30px; overflow: hidden; }

.gd-title { float: left; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 60px; text-transform: uppercase; }

.gd-desc { float: right; width: 450px; padding-top: 10px; font-family: 'PT Sans', Arial, sans-serif; text-transform: uppercase; }
.gd-desc span { display: block; font-size: 18px; color: #0099ff; }
.gd-desc p { font-size: 15px; color: #666; }
.gd-desc strong { font-weight: 700; color: #000; }

.gd-list { overflow: hidden; }

.gd-list__items { margin-right: -30px; }

.gd-item { float: left; width: 296px; margin: 0 19px 17px 0; border: 1px solid #bebebe; }

.gd-item_mod .gd-item__pic { margin-bottom: 10px; }

.gd-item__pic { position: relative; padding: 9px 9px 7px 9px; }
.gd-item__pic img { display: block; }

.gd-item__cat { position: absolute; top: 120px; left: 10px; right: 10px; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 32px; color: #fff; text-transform: uppercase; text-align: center; }

.gd-ribble { position: absolute; left: -1px; bottom: -3px; width: 255px; height: 36px; line-height: 36px; }
.gd-ribble span { position: relative; display: block; height: 100%; padding-left: 20px; background: #ff9600; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 14px; color: #fff; text-transform: uppercase; z-index: 10; }
.gd-ribble span:before { content: "- "; }
.gd-ribble span:after { content: " -"; }
.gd-ribble strong { position: absolute; top: 0; left: 0; width: 100%; height: 36px; }
.gd-ribble strong:after { content: ""; position: absolute; width: 0; height: 0; right: 0px; top: 100%; border-width: 4px 9px; border-style: solid; border-color: #7f4d04 transparent transparent #7f4d04; }
.gd-ribble strong:before { content: ""; position: absolute; width: 6px; height: 0; right: -24px; top: 8px; border-width: 18px 18px; border-style: solid; border-color: #ce7900 transparent #ce7900 #ce7900; }

.gd-item__desc { padding: 0 9px 10px 9px; font-family: 'PT Sans', Arial, sans-serif; color: #242020; line-height: 1.3; font-size: 16px; font-weight: 700; }

.gd-item__detail { height: 30px; padding: 0 15px; line-height: 30px; background: #efefef; overflow: hidden; }

.gd-item__detail-item { float: left; }
.gd-item__detail-item:first-child { width: 60%; }

.gd-item-comm, .gd-item-like { font-family: 'PT Sans', Arial, sans-serif; font-size: 13px; color: #0099ff; }
.gd-item-comm span, .gd-item-like span { position: relative; padding-left: 30px; font-size: 11px; font-weight: 700; color: #9e9e9e; }
.gd-item-comm i, .gd-item-like i { position: absolute; top: 2px; left: 11px; }

.gd-item-comm i { background: url('../img/guide_img/icons-sa57a552c2c.png') 0 -21px no-repeat; width: 13px; height: 11px; }

.gd-item-like i { background: url('../img/guide_img/icons-sa57a552c2c.png') 0 0 no-repeat; width: 13px; height: 11px; }

.gd-item-date { font-family: 'PT Sans', Arial, sans-serif; font-size: 12px; color: #666; }

.gd-item__comm-list { overflow: hidden; }
.gd-item__comm-list li { padding: 8px 10px; margin-top: 2px; background: #efefef; }

.gd-item__comm-pic { float: left; margin-right: 8px; }
.gd-item__comm-pic img { display: block; }

.gd-item__comm-text { margin-bottom: 8px; overflow: hidden; font-family: 'PT Sans', Arial, sans-serif; font-size: 14px; }
.gd-item__comm-text a { margin-right: 12px; font-weight: 700; text-decoration: underline; color: #0099ff; }

.gd-item__comm-detail { padding-left: 34px; overflow: hidden; }
.gd-item__comm-detail .gd-item-date { float: left; }
.gd-item__comm-detail .gd-item-like { float: right; }

.gd-item__comm-add { margin-top: 2px; padding: 8px 10px; background: #efefef; overflow: hidden; }
.gd-item__comm-add img { float: left; }
.gd-item__comm-add textarea { float: right; width: 227px; height: 17px; padding: 4px 7px; border: 1px solid #c1c1c1; resize: vertical; font-family: 'PT Sans', Arial, sans-serif; font-size: 13px; }
