@font-face { font-family: 'AG_Futura'; src: url("../fonts/AG_Futura.woff") format("woff"); }

@font-face { font-family: 'AG_Futura Bold'; src: url("../fonts/AG_Futura Bold.woff") format("woff"); }

@font-face { font-family: 'Futuris'; src: url("../fonts/Futuris.woff") format("woff"); }

@font-face { font-family: 'Futuris Bold'; src: url("../fonts/Futuris Bold.woff") format("woff"); }

/*styles for layouts*/
.cols { margin-bottom: 60px; overflow: hidden; }

.cols-1 { margin: 0 -15px 50px 0; overflow: hidden; }

.col-1 { float: left; width: 290px; margin-right: 15px; }

.col-2 { position: relative; float: left; width: 640px; background: #fff; }
.col-2:before { content: ""; position: absolute; top: 35px; left: 15px; right: 15px; bottom: 80px; -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 100px; -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 100px; box-shadow: rgba(0, 0, 0, 0.15) 0 0 100px; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; z-index: -1; }

.col-3 { float: right; width: 290px; }

.col-4, .col-5 { float: left; width: 289px; padding: 0 15px; }

.col-4 { border-right: 1px solid #ececec; }

.col-5 { margin-left: -1px; border-left: 1px solid #ececec; }

.col-6 { float: left; width: 940px; }

.col-7 { float: right; width: 290px; padding: 15px; background: #01aef0; }
