@font-face { font-family: 'AG_Futura'; src: url("../fonts/AG_Futura.woff") format("woff"); }

@font-face { font-family: 'AG_Futura Bold'; src: url("../fonts/AG_Futura Bold.woff") format("woff"); }

@font-face { font-family: 'Futuris'; src: url("../fonts/Futuris.woff") format("woff"); }

@font-face { font-family: 'Futuris Bold'; src: url("../fonts/Futuris Bold.woff") format("woff"); }

.main { position: relative; margin: -20px 0 25px 0; background: url(../img/index_img/main.jpg) no-repeat 50% 50%; background-size: cover; border-bottom: 5px solid #1a113a; -webkit-box-shadow: whitesmoke 0 7px 0; -moz-box-shadow: whitesmoke 0 7px 0; box-shadow: whitesmoke 0 7px 0; }
.main .container { position: relative; height: 470px; }

.hot-deals { position: absolute; bottom: 30px; left: 0; width: 586px; height: 298px; padding: 73px 50px 0 60px; background: url(../img/index_img/figure.png) no-repeat 0 0; }

.hot-deals__label { margin-bottom: 8px; font-family: 'AG_Futura Bold', Arial, sans-serif; color: #ffc000; font-size: 16px; line-height: 1.2; text-shadow: rgba(0, 0, 0, 0.56) 0 1px 0; letter-spacing: 5px; text-transform: uppercase; }

.hot-deals__desc { min-height: 170px; }
.hot-deals__desc a, .hot-deals__desc span { font-family: 'AG_Futura Bold', Arial, sans-serif; text-shadow: rgba(0, 0, 0, 0.56) 0 1px 0; color: #fff; }
.hot-deals__desc a { font-size: 48px; line-height: 1.3; border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
.hot-deals__desc span { display: block; margin-top: 5px; font-size: 24px; }

.hot-deals__nav { position: relative; overflow: hidden; }

.hot-deals__prev, .hot-deals__next { float: left; }

.hot-deals__prev { margin-right: 15px; background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -1254px no-repeat; width: 14px; height: 23px; }

.hot-deals__next { background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -1343px no-repeat; width: 14px; height: 23px; }

.hot-deals__navi { float: left; padding-top: 2px; margin-right: 15px; }
.hot-deals__navi button { float: left; width: 18px; height: 18px; margin-right: 9px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #fff; }
.hot-deals__navi button.activeSlide { background: #0099ff; }

.menu { position: absolute; bottom: 100px; left: 0; width: 100%; font-size: 0; text-align: center; }
.menu ul { text-align: center; }
.menu li { display: inline-block; padding: 0 55px; }
.menu a { font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 31px; text-shadow: rgba(0, 0, 0, 0.56) 0 1px 0; color: #fff; }
.menu a:before { content: "- "; }
.menu a:after { content: " -"; }

.tours { margin-bottom: 40px; }
.tours ul { padding-top: 45px; overflow: hidden; }
.tours li { float: left; }
.tours .item { width: 160px; padding: 0 24px; }
.tours .item__pic { position: relative; }
.tours .item__pic strong { position: absolute; text-align: center; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 22px; }
.tours .item__price-yc { left: 25px; top: -45px; margin-left: -49px; background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -193px no-repeat; width: 98px; height: 98px; color: #fff; -moz-transform: rotate(-20deg); -o-transform: rotate(-20deg); -webkit-transform: rotate(-20deg); -ms-transform: rotate(-20deg); transform: rotate(-20deg); }
.tours .item__price-yc span { display: block; margin-top: 33px; font-size: 10px; text-transform: uppercase; }
.tours .item__price-wc { left: 50%; top: -45px; margin-left: -49px; background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -391px no-repeat; width: 98px; height: 98px; color: #000; line-height: 102px; }
.tours .item__price-wc span { display: none; }
.tours .item__price-yr { left: 50%; top: -23px; margin-left: -61px; background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -583px no-repeat; width: 122px; height: 46px; color: #fff; line-height: 45px; }
.tours .item__price-yr span { display: none; }
.tours .item__title { position: relative; height: 60px; line-height: 60px; overflow: hidden; }
.tours .item__title a { font-size: 18px; }
.tours .item__title:after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 10px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwKSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff); }
.tours .item__desc { position: relative; height: 170px; overflow: hidden; }
.tours .item__desc:after { content: ""; position: absolute; left: 0; bottom: 8px; width: 100%; height: 30px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwKSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, #ffffff)); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%); background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%); background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%); }

.afisha .h2 { margin-bottom: 0px; padding: 12px 0; color: #fff; }
.afisha ul { background: #01aef0; }
.afisha li { border-top: 1px solid #82d0ee; padding: 22px; }
.afisha .navi span { color: #fff; }
.afisha .navi__prev { background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -1662px no-repeat; width: 7px; height: 12px; }
.afisha .navi__next { background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -1640px no-repeat; width: 7px; height: 12px; }

.afisha__title { margin-bottom: 15px; text-align: center; }
.afisha__title a { border-bottom: 1px solid #67c4f4; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 12px; color: #fff; }

.afisha__detail { text-align: center; font-size: 0; }
.afisha__detail a { position: relative; display: inline-block; height: 14px; line-height: 14px; font-family: 'PT Sans', Arial, sans-serif; font-size: 13px; color: #fff; font-weight: 700; }
.afisha__detail i { position: absolute; top: 0; left: 0; }

.afisha__comm { padding-left: 21px; }

.afisha__like { padding-left: 25px; margin-left: 9px; }

.calendar { position: relative; width: 925px; margin-bottom: 50px; overflow: hidden; }
.calendar ul { margin-right: -30px; overflow: hidden; }
.calendar .event { float: left; width: 220px; margin: 0 15px 15px 0; }

.calendar-nav { position: relative; }
.calendar-nav button { position: absolute; top: 3px; }

.calendar-nav__prev { left: 0; background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -1531px no-repeat; width: 8px; height: 12px; }

.calendar-nav__next { right: 0; background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -1594px no-repeat; width: 8px; height: 12px; }

.item { padding-bottom: 30px; text-align: center; }
.item .rating { display: inline-block; height: 18px; margin-bottom: 23px; }

.item__pic { margin-bottom: 5px; }
.item__pic img { display: inline-block; }

.item__cat a, .item__cat span, .item__number a, .item__number span { font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 9px; text-transform: uppercase; color: #aec365; letter-spacing: 2px; }

.item__cat { padding: 15px 0 10px 0; }

.item__number { padding-bottom: 10px; }

.item__title { margin-bottom: 10px; }
.item__title a { display: inline-block; line-height: 1; vertical-align: middle; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 22px; color: #000; }
.item__title span { border-bottom: 1px solid #d3d3d3; line-height: 1.3; }

.item__desc { padding-top: 2px; overflow: hidden; }
.item__desc a { display: block; padding-left: 16px; line-height: 1.3; font-family: 'PT Sans', sans-serif; font-size: 13px; font-weight: 700; color: #000; }
.item__desc span { position: relative; text-decoration: underline; }
.item__desc span:before { content: ""; position: absolute; top: 1px; left: -16px; background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -1190px no-repeat; width: 10px; height: 16px; }
.item__desc p { padding: 15px 10px; line-height: 1.3; font-family: 'PT Sans', sans-serif; font-size: 14px; color: #000; }

.item__comm, .circle__comm { position: relative; margin-bottom: 10px; font-size: 0; }
.item__comm:before, .circle__comm:before { content: ""; position: absolute; top: 8px; left: 80px; right: 80px; height: 1px; background: #ededed; }
.item__comm a, .circle__comm a { position: relative; display: inline-block; height: 18px; padding: 0 3px 0 27px; background: #fff; line-height: 18px; font-size: 14px; font-weight: bold; color: #e1e1e1; z-index: 10; }
.item__comm i, .circle__comm i { position: absolute; top: 0; left: 3px; }

.item__price { padding: 12px 0 20px 0; border-bottom: 1px solid #dadada; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 18px; color: #000; }

.tape-links { margin-bottom: 20px; padding: 0 17px; overflow: hidden; }
.tape-links ul { float: left; }
.tape-links li { float: left; height: 24px; padding: 0 24px; border-right: 1px solid #e5e5e5; font-family: 'PT Sans', Arial, sans-serif; font-size: 13px; color: #999; text-transform: uppercase; line-height: 24px; }
.tape-links li:first-child { border: none; padding: 0; }
.tape-links a { color: #0099ff; }
.tape-links button { float: right; height: 30px; }

.tape { width: 282px; padding: 6px; margin: 0 15px 12px 0; border: 1px solid #ececec; }

.tape_pic .tape__date i { background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -761px no-repeat; width: 53px; height: 24px; }

.tape_audio .tape__date i { background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -871px no-repeat; width: 53px; height: 24px; }

.tape_video .tape__date i { background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -837px no-repeat; width: 53px; height: 24px; }
.tape_video .tape__pic a { position: relative; display: block; }
.tape_video .tape__pic a:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -40px 0 0 -40px; background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -301px no-repeat; width: 80px; height: 80px; }

.tape__pic { margin-bottom: 6px; }
.tape__pic img { display: block; }

.tape__date { position: relative; height: 24px; margin-bottom: 10px; padding-left: 9px; line-height: 27px; background: #ffc000; }
.tape__date i, .tape__date span { float: left; }
.tape__date i { margin-right: 9px; }
.tape__date span { font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 10px; text-transform: uppercase; color: #fff; letter-spacing: 3px; }

.tape__title { margin-bottom: 15px; padding: 0 10px; text-align: center; }
.tape__title a { line-height: 1.3; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 18px; color: #000; border-bottom: 1px solid #d4d4d4; }

.tape__users { display: none; position: absolute; bottom: 35px; left: -100px; -webkit-box-shadow: 0 1px 0 rgba(203, 203, 203, 0.8), inset 0 1px 0; -moz-box-shadow: 0 1px 0 rgba(203, 203, 203, 0.8), inset 0 1px 0; box-shadow: 0 1px 0 rgba(203, 203, 203, 0.8), inset 0 1px 0; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; }
.tape__users:after, .tape__users:before { content: ""; position: absolute; }
.tape__users:after { bottom: -8px; left: 50%; width: 16px; height: 16px; margin-left: -8px; background: #fff; border: 1px solid #d5d5d5; -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.tape__users:before { top: -2px; left: 0; width: 100%; height: 1px; background-color: #d5d5d5; -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.08); box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.08); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAuMTIlIiBzdG9wLWNvbG9yPSIjZGRkZGRkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(50.12%, #dddddd), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(left, #ffffff 0%, #dddddd 50.12%, #ffffff 100%); background-image: -moz-linear-gradient(left, #ffffff 0%, #dddddd 50.12%, #ffffff 100%); background-image: -o-linear-gradient(left, #ffffff 0%, #dddddd 50.12%, #ffffff 100%); background-image: linear-gradient(left, #ffffff 0%, #dddddd 50.12%, #ffffff 100%); }

.tape__users-pic { position: relative; width: 195px; padding: 6px 20px 4px 6px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; background-color: #fff; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffffff), color-stop(100%, #e7e7e7)); background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #e7e7e7 100%); background-image: -moz-linear-gradient(bottom, #ffffff 0%, #e7e7e7 100%); background-image: -o-linear-gradient(bottom, #ffffff 0%, #e7e7e7 100%); background-image: linear-gradient(bottom, #ffffff 0%, #e7e7e7 100%); overflow: hidden; z-index: 10; }
.tape__users-pic img { float: left; margin-right: 6px; border: 2px solid #fff; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.44); -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.44); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.44); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.tape__users-pic img:last-child { border-color: #0099ff; }
.tape__users-pic:after { content: "..."; position: absolute; right: 10px; bottom: 0; line-height: 22px; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 13px; color: #999; }

.circle { height: 350px; text-align: center; }

.circle__pic { min-height: 138px; margin-bottom: 20px; }
.circle__pic img { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.circle__title { margin-bottom: 20px; padding: 0 35px; }
.circle__title a { line-height: 1.3; font-family: 'AG_Futura Bold', sans-serif; font-size: 18px; color: #000; border-bottom: 1px solid #d3d3d3; font-weight: 700; }

.circle__user, .tape__user { margin-bottom: 20px; text-align: center; font-size: 0; }
.circle__user a, .tape__user a { display: inline-block; height: 26px; line-height: 26px; }
.circle__user img, .tape__user img { float: left; margin-right: 10px; }
.circle__user span, .tape__user span { border-bottom: 1px solid #656565; font-family: 'PT Sans', sans-serif; font-size: 14px; color: #000; font-weight: 700; }

.circle__date { margin-bottom: 20px; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 10px; color: #626262; letter-spacing: 2px; }

.event { text-align: center; }

.event__pic img { display: block; }

.event__date { height: 24px; line-height: 24px; background: #0dbca9; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 10px; text-transform: uppercase; color: #fff; letter-spacing: 2px; }

.event__desc { padding: 15px 10px 15px 10px; border-style: solid; border-width: 0 1px 1px 1px; border-color: #f1f1f1; }

.event__cat { margin-bottom: 10px; }
.event__cat a { font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 10px; text-transform: uppercase; color: #000; letter-spacing: 2px; }

.event__title { margin-bottom: 20px; }
.event__title a { font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 14px; color: #000; border-bottom: 1px solid #d4d4d4; line-height: 1.3; }

.event__detail, .tape__detail { position: relative; margin-bottom: 20px; font-size: 0; }
.event__detail:before, .tape__detail:before { content: ""; position: absolute; top: 8px; left: 0; width: 100%; height: 1px; background: #ededed; }
.event__detail a, .tape__detail a { position: relative; display: inline-block; height: 18px; padding-left: 27px; background: #fff; line-height: 18px; font-size: 14px; font-weight: bold; color: #e1e1e1; z-index: 10; }
.event__detail i, .tape__detail i { position: absolute; top: 0; }

.event__comm, .tape__comm { padding-right: 8px; }
.event__comm i, .tape__comm i { left: 3px; }

.event__like, .tape__like { padding-right: 2px; }
.event__like i, .tape__like i { left: 0; }

.tape__like { position: relative; }
.tape__like:hover { color: #0099ff; }
.tape__like:hover .ico-like { background: url('../img/index_img/icons-sabe4ab04b2.png') 0 -1287px no-repeat; width: 21px; height: 18px; }
.tape__like:hover .tape__users { display: block; }

.tape__detail { margin-bottom: 10px; text-align: center; }
.tape__detail:before { left: 35px; right: 35px; width: auto; }

.event__go { display: inline-block; height: 22px; padding: 3px; line-height: 22px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; border: 1px solid #d2d2d2; }
.event__go strong, .event__go a { float: left; margin-right: 20px; font-family: 'PT Sans', Arial, sans-serif; font-size: 14px; font-weight: 700; }
.event__go strong { padding: 0 15px; background: #d8d8d8; -webkit-border-radius: 11px; -moz-border-radius: 11px; -ms-border-radius: 11px; -o-border-radius: 11px; border-radius: 11px; color: white; }
.event__go a { color: #000; }
.event__go span { border-bottom: 1px dashed #a3a3a3; }
