.online__type label { -moz-user-select: none; -webkit-user-select: none; user-select: none; }

.online__sbt { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U5OTQwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #e99400)); background-image: -webkit-linear-gradient(#ffcc00, #e99400); background-image: -moz-linear-gradient(#ffcc00, #e99400); background-image: -o-linear-gradient(#ffcc00, #e99400); background-image: linear-gradient(#ffcc00, #e99400); -webkit-box-shadow: rgba(0, 0, 0, 0.38) 0 1px 0; -moz-box-shadow: rgba(0, 0, 0, 0.38) 0 1px 0; box-shadow: rgba(0, 0, 0, 0.38) 0 1px 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; color: #fff; text-shadow: 0 1px 1px rgba(97, 62, 0, 0.54); cursor: pointer; }

@font-face { font-family: 'AG_Futura'; src: url("../fonts/AG_Futura.woff") format("woff"); }

@font-face { font-family: 'AG_Futura Bold'; src: url("../fonts/AG_Futura Bold.woff") format("woff"); }

@font-face { font-family: 'Futuris'; src: url("../fonts/Futuris.woff") format("woff"); }

@font-face { font-family: 'Futuris Bold'; src: url("../fonts/Futuris Bold.woff") format("woff"); }

.main { position: relative; margin: 0 0 50px 0; background: url(../img/index_img/main.jpg) no-repeat 50% 50%; background-size: cover; border-bottom: 5px solid #1a113a; }
.main .container { position: relative; height: 470px; }

.hot-deals { position: absolute; bottom: 30px; left: -35px; width: 586px; height: 298px; padding: 70px 50px 0 35px; background: url(../img/index_img/figure.png) no-repeat 0 0; }

.hot-deals__label { margin-bottom: 8px; font-family: 'AG_Futura Bold', Arial, sans-serif; color: #ffc000; font-size: 16px; line-height: 1.2; text-shadow: rgba(0, 0, 0, 0.56) 0 1px 0; letter-spacing: 5px; text-transform: uppercase; }

.hot-deals__desc { min-height: 170px; }
.hot-deals__desc a, .hot-deals__desc span { font-family: 'AG_Futura Bold', Arial, sans-serif; text-shadow: rgba(0, 0, 0, 0.56) 0 1px 0; color: #fff; }
.hot-deals__desc a { font-size: 48px; line-height: 1.3; border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
.hot-deals__desc span { display: block; margin-top: 5px; font-size: 24px; }

.hot-deals__nav { position: relative; overflow: hidden; }

.hot-deals__prev, .hot-deals__next { float: left; }

.hot-deals__prev { margin-right: 15px; background: url('../img/index_img/icons-s01ad4186fe.png') 0 -557px no-repeat; width: 14px; height: 23px; }

.hot-deals__next { background: url('../img/index_img/icons-s01ad4186fe.png') 0 -590px no-repeat; width: 14px; height: 23px; }

.hot-deals__navi { float: left; padding-top: 2px; margin-right: 15px; }
.hot-deals__navi button { float: left; width: 18px; height: 18px; margin-right: 9px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #fff; }
.hot-deals__navi button.activeSlide { background: #04aeef; }

.menu { position: absolute; bottom: 100px; left: 0; width: 100%; font-size: 0; text-align: center; }
.menu ul { text-align: center; }
.menu li { display: inline-block; padding: 0 55px; }
.menu a { font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 31px; text-shadow: rgba(0, 0, 0, 0.56) 0 1px 0; color: #fff; }
.menu a:before { content: "- "; }
.menu a:after { content: " -"; }

.online { position: relative; float: right; width: 275px; margin-top: -12px; background: url(../img/index_img/online_bg.jpg); -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -ms-border-radius: 3px 3px 0 0; -o-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }
.online .online__sbt { width: 245px; }

.online__details { display: none; position: absolute; top: 35px; left: 0; width: 245px; padding: 15px; background: url(../img/index_img/online_bg.jpg); -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; -ms-border-radius: 0 0 3px 3px; -o-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; }

.online__title { position: relative; width: 275px; height: 35px; padding-left: 15px; border-bottom: 1px solid #03c3f7; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -ms-border-radius: 3px 3px 0 0; -o-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; line-height: 35px; text-align: left; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 13px; text-transform: uppercase; color: #fff; text-shadow: rgba(0, 0, 0, 0.56) 0 1px 1px; }
.online__title span { position: relative; }
.online__title i { display: none; position: absolute; top: 3px; right: -18px; background: url('../img/index_img/icons-s01ad4186fe.png') 0 -779px no-repeat; width: 10px; height: 12px; }
.online__title.open i { display: block; }

.online__detail { padding: 15px; }

.online__type { height: 34px; margin-bottom: 8px; -webkit-box-shadow: rgba(0, 0, 0, 0.36) 0 1px 1px; -moz-box-shadow: rgba(0, 0, 0, 0.36) 0 1px 1px; box-shadow: rgba(0, 0, 0, 0.36) 0 1px 1px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; text-align: center; }
.online__type li { float: left; background: #00b8ff; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjhmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyYTllOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b8ff), color-stop(100%, #02a9e9)); background-image: -webkit-linear-gradient(#00b8ff, #02a9e9); background-image: -moz-linear-gradient(#00b8ff, #02a9e9); background-image: -o-linear-gradient(#00b8ff, #02a9e9); background-image: linear-gradient(#00b8ff, #02a9e9); }
.online__type label { display: block; height: 34px; line-height: 34px; font-size: 13px; font-family: 'AG_Futura Bold', Arial, sans-serif; color: #fff; text-shadow: 0 1px 1px rgba(97, 62, 0, 0.54); cursor: pointer; }
.online__type label.active { background: #ffcc00; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U5OTQwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #e99400)); background-image: -webkit-linear-gradient(#ffcc00, #e99400); background-image: -moz-linear-gradient(#ffcc00, #e99400); background-image: -o-linear-gradient(#ffcc00, #e99400); background-image: linear-gradient(#ffcc00, #e99400); -webkit-box-shadow: rgba(74, 32, 0, 0.42) 0 1px 7px inset; -moz-box-shadow: rgba(74, 32, 0, 0.42) 0 1px 7px inset; box-shadow: rgba(74, 32, 0, 0.42) 0 1px 7px inset; }
.online__type input { display: none; }

.online__tour { width: 60px; }

.online__hotel { width: 75px; }

.online__avia { width: 110px; }

.online__reserve .txt-field input { width: 235px; }

.online__date { height: 51px; margin-bottom: 20px; }
.online__date .txt-field { position: relative; float: right; }
.online__date .txt-field:after { content: ""; position: absolute; top: 25px; right: 5px; background: url('../img/index_img/icons-s01ad4186fe.png') 0 -751px no-repeat; width: 18px; height: 18px; }
.online__date .txt-field input { position: relative; width: 110px; line-height: 33px; }
.online__date .txt-field:first-child { float: left; }

.online__people { height: 51px; margin-bottom: 20px; }
.online__people .select { float: left; margin-left: 8px; }
.online__people .select:first-child { margin-left: 0px; }
.online__people .select__value { width: 71px; }

.online__sbt { width: 310px; height: 41px; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 16px; }

.tours { margin-bottom: 10px; }
.tours ul { padding-bottom: 60px; overflow: hidden; }
.tours li { float: left; }
.tours .item { width: 160px; padding: 0 24px; }
.tours .item__pic { margin-bottom: 3px; }
.tours .item__title { position: relative; height: 60px; line-height: 60px; overflow: hidden; }
.tours .item__title a { font-size: 18px; }
.tours .item__title:after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 10px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwKSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff); }
.tours .item__desc { position: relative; height: 170px; overflow: hidden; }
.tours .item__desc:after { content: ""; position: absolute; left: 0; bottom: 8px; width: 100%; height: 30px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwKSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, #ffffff)); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%); background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%); background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%); }

.afisha .h2 { margin-bottom: 0px; padding: 12px 0; color: #fff; }
.afisha ul { border-bottom: 1px solid #82d0ee; background: #01aef0; }
.afisha li { border-top: 1px solid #82d0ee; padding: 22px; }
.afisha .navi span { color: #fff; }
.afisha .navi__prev { background: url('../img/index_img/icons-s01ad4186fe.png') 0 -956px no-repeat; width: 7px; height: 12px; }
.afisha .navi__next { background: url('../img/index_img/icons-s01ad4186fe.png') 0 -934px no-repeat; width: 7px; height: 12px; }

.afisha__title { margin-bottom: 15px; text-align: center; }
.afisha__title a { border-bottom: 1px solid #67c4f4; font-family: 'AG_Futura Bold', Arial, sans-serif; font-size: 12px; color: #fff; }

.afisha__detail { text-align: center; font-size: 0; }
.afisha__detail span { position: relative; display: inline-block; height: 14px; line-height: 14px; font-family: 'PT Sans', Arial, sans-serif; font-size: 13px; color: #fff; font-weight: 700; }
.afisha__detail span:before { content: ""; position: absolute; top: 0; left: 0; }

.afisha__comm { padding-left: 21px; }
.afisha__comm:before { background: url('../img/index_img/icons-s01ad4186fe.png') 0 -910px no-repeat; width: 16px; height: 14px; }

.afisha__like { padding-left: 25px; margin-left: 9px; }
.afisha__like:before { background: url('../img/index_img/icons-s01ad4186fe.png') 0 -665px no-repeat; width: 18px; height: 14px; }
