.logo a { font: 0/0 a; text-shadow: none; color: transparent; }

.online__type label { -moz-user-select: none; -webkit-user-select: none; user-select: none; }

@font-face { font-family: 'AG_Futura'; src: url("../fonts/AG_Futura.woff") format("woff"); }

@font-face { font-family: 'AG_Futura Bold'; src: url("../fonts/AG_Futura Bold.woff") format("woff"); }

@font-face { font-family: 'Futuris'; src: url("../fonts/Futuris.woff") format("woff"); }

.main { position: relative; margin: 93px 0 55px 0; background: url(../img/index_img/main.jpg) no-repeat 50% 0; background-size: cover; z-index: 10; }
.main .container { position: relative; height: 700px; }

.logo { position: absolute; top: 29px; left: 0; }
.logo a { display: block; background: url('../img/index_img/icons-s8449f5e3e0.png') 0 0 no-repeat; width: 235px; height: 123px; }

.hot-deals { position: absolute; bottom: 150px; left: 0; }

.hot-deals__label { margin-bottom: 28px; font-family: 'AG_Futura Bold'; color: #ffc000; font-size: 13px; text-shadow: rgba(0, 0, 0, 0.56) 0 1px 0; letter-spacing: 5px; text-transform: uppercase; }

.hot-deals__desc { min-height: 200px; }

.hot-deals__pic { float: left; margin-right: 20px; }
.hot-deals__pic img { display: block; min-height: 104px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }

.hot-deals__title { width: 510px; }
.hot-deals__title a, .hot-deals__title span { font-family: 'AG_Futura Bold'; text-shadow: rgba(0, 0, 0, 0.56) 0 1px 0; color: #fff; }
.hot-deals__title a { font-size: 36px; line-height: 1.3; border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
.hot-deals__title span { display: block; margin-top: 5px; font-size: 18px; }

.hot-deals__prev, .hot-deals__next { position: absolute; top: 58px; }

.hot-deals__prev { left: -43px; background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -499px no-repeat; width: 14px; height: 23px; }

.hot-deals__next { right: -43px; background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -532px no-repeat; width: 14px; height: 23px; }

.menu { position: absolute; bottom: 100px; left: 0; width: 100%; font-size: 0; text-align: center; }
.menu ul { text-align: center; }
.menu li { display: inline-block; padding: 0 55px; }
.menu a { font-family: 'AG_Futura Bold'; font-size: 31px; text-shadow: rgba(0, 0, 0, 0.56) 0 1px 0; color: #fff; }
.menu a:before { content: "- "; }
.menu a:after { content: " -"; }

.online { position: absolute; top: 0; left: 50%; width: 310px; margin-left: 273px; padding: 18px 21px 21px 21px; background: url(../img/index_img/online_bg.jpg); -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; -ms-border-radius: 0 0 3px 3px; -o-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; }
.online .btn-orange { width: 310px; }
.online.active { position: fixed; top: 93px; z-index: 1000; }

.online__type { margin-bottom: 8px; -webkit-box-shadow: rgba(0, 0, 0, 0.36) 0 1px 1px; -moz-box-shadow: rgba(0, 0, 0, 0.36) 0 1px 1px; box-shadow: rgba(0, 0, 0, 0.36) 0 1px 1px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; overflow: hidden; text-align: center; }
.online__type li { float: left; background: #00b8ff; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjhmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyYTllOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b8ff), color-stop(100%, #02a9e9)); background-image: -webkit-linear-gradient(#00b8ff, #02a9e9); background-image: -moz-linear-gradient(#00b8ff, #02a9e9); background-image: -o-linear-gradient(#00b8ff, #02a9e9); background-image: linear-gradient(#00b8ff, #02a9e9); border-left: 1px solid #029cd6; }
.online__type li:first-child { border: none; }
.online__type label { display: block; height: 34px; line-height: 34px; font-size: 13px; font-family: 'AG_Futura Bold'; color: #fff; text-shadow: 0 1px 1px rgba(97, 62, 0, 0.54); cursor: pointer; }
.online__type label.active { margin-left: -1px; padding-left: 1px; border: none; background: #ffcc00; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U5OTQwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #e99400)); background-image: -webkit-linear-gradient(#ffcc00, #e99400); background-image: -moz-linear-gradient(#ffcc00, #e99400); background-image: -o-linear-gradient(#ffcc00, #e99400); background-image: linear-gradient(#ffcc00, #e99400); -webkit-box-shadow: rgba(74, 32, 0, 0.42) 0 1px 7px inset; -moz-box-shadow: rgba(74, 32, 0, 0.42) 0 1px 7px inset; box-shadow: rgba(74, 32, 0, 0.42) 0 1px 7px inset; }
.online__type input { display: none; }

.online__tour { width: 81px; }

.online__hotel { width: 96px; }

.online__avia { width: 131px; }

.online__date { height: 51px; margin-bottom: 20px; }
.online__date .txt-field { position: relative; float: right; }
.online__date .txt-field:after { content: ""; position: absolute; top: 25px; right: 5px; background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -675px no-repeat; width: 18px; height: 18px; }
.online__date .txt-field input { position: relative; width: 142px; }
.online__date .txt-field:first-child { float: left; }

.online__people { height: 51px; margin-bottom: 20px; }
.online__people .select { float: left; margin-left: 8px; }
.online__people .select:first-child { margin-left: 0px; }

.tours { margin-bottom: 10px; }
.tours ul { padding-bottom: 60px; overflow: hidden; }
.tours li { float: left; }
.tours .item { width: 160px; padding: 0 24px; }
.tours .item__pic { margin-bottom: 0; }
.tours .item__title { height: 60px; line-height: 60px; }
.tours .item__title a { font-size: 18px; }
.tours .item__desc { height: 150px; }
.tours .item__desc p { padding: 0; }

.afisha .h2 { margin-bottom: 0px; padding: 12px 0; color: #fff; }
.afisha ul { border-bottom: 1px solid #82d0ee; background: #01aef0; }
.afisha li { border-top: 1px solid #82d0ee; padding: 22px; }
.afisha .navi span { color: #fff; }
.afisha .navi__prev { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -861px no-repeat; width: 7px; height: 12px; }
.afisha .navi__next { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -839px no-repeat; width: 7px; height: 12px; }

.afisha__title { margin-bottom: 15px; text-align: center; }
.afisha__title a { border-bottom: 1px solid #67c4f4; font-family: 'AG_Futura Bold'; font-size: 12px; color: #fff; }

.afisha__detail { text-align: center; font-size: 0; }
.afisha__detail span { position: relative; display: inline-block; height: 14px; line-height: 14px; font-family: 'PT Sans', sans-serif; font-size: 13px; color: #fff; font-weight: 700; }
.afisha__detail span:before { content: ""; position: absolute; top: 0; left: 0; }

.afisha__comm { padding-left: 21px; }
.afisha__comm:before { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -815px no-repeat; width: 16px; height: 14px; }

.afisha__like { padding-left: 25px; margin-left: 9px; }
.afisha__like:before { background: url('../img/index_img/icons-s8449f5e3e0.png') 0 -589px no-repeat; width: 18px; height: 14px; }
