@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";
//variables
$blue: #04aeef;
$green: #aec365;
// gradients for ie
$experimental-support-for-svg: true;
// global sprites
$index_img: sprite-map("index_img/icons/*.png", $spacing: 10px);
$hotel_img: sprite-map("hotel_img/icons/*.png", $spacing: 10px);
//extend
%btn-orange {
  @include background-image(linear-gradient(#ffcc00, #e99400));
  @include box-shadow(rgba(0,0,0,0.38) 0 1px 0);
  @include border-radius(3px);
  color: #fff;  
  text-shadow: 0 1px 1px rgba(97,62,0,0.54);  
  cursor: pointer;
}
//font
 @font-face {
  	font-family: 'AG_Futura';
  	src: url('../fonts/AG_Futura.woff') format("woff");
 }
 @font-face {
  	font-family: 'AG_Futura Bold';
  	src: url('../fonts/AG_Futura Bold.woff') format("woff");
 }	
 @font-face {
  	font-family: 'Futuris';
  	src: url('../fonts/Futuris.woff') format("woff");
 }	
  @font-face {
  	font-family: 'Futuris Bold';
  	src: url('../fonts/Futuris Bold.woff') format("woff");
 }


