@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";
//variables
$blue: #04aeef;
$green: #aec365;
// gradients for ie
$experimental-support-for-svg: true;
// global sprites
$index_img: sprite-map("index_img/icons/*.png", $spacing: 10px);
$hotel_img: sprite-map("hotel_img/icons/*.png", $spacing: 10px);
//extend
%block {
	
}
//font
 @font-face {
  	font-family: 'AG_Futura';
  	src: url('../fonts/AG_Futura.woff') format("woff");
 }
 @font-face {
  	font-family: 'AG_Futura Bold';
  	src: url('../fonts/AG_Futura Bold.woff') format("woff");
 }	
 @font-face {
  	font-family: 'Futuris';
  	src: url('../fonts/Futuris.woff') format("woff");
 }	
  @font-face {
  	font-family: 'Futuris Bold';
  	src: url('../fonts/Futuris Bold.woff') format("woff");
 }


