@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";
//variables
$blue: #04aeef;
$green: #aec365;
$orange: #ffc000;
// gradients for ie
$experimental-support-for-svg: true;
// global sprites
$index_img: sprite-map("index_img/icons/*.png", $spacing: 10px);
$hotel_img: sprite-map("hotel_img/icons/*.png", $spacing: 10px);
$community_img: sprite-map("community_img/icons/*.png", $spacing: 10px);
//extend
%btn-orange {
  @include background-image(linear-gradient(#ffcc00, #e99400));
  @include box-shadow(rgba(0,0,0,0.38) 0 1px 0);
  @include border-radius(3px);
  color: #fff;  
  text-shadow: 0 1px 1px rgba(97,62,0,0.54);  
  cursor: pointer;
}
%btn-blue {
  height: 34px;
  padding: 0 15px;
  background: $blue;
  @include border-radius(17px);
  font-family: 'Futuris';
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
%btn-blue-mod {
  height: 40px;
  padding: 0 20px;
  background: $blue;
  @include box-shadow(rgba(0,0,0,0.4) 0 1px 2px, rgba(255,255,255,0.4) 0 1px 0 inset);
  @include border-radius(5px);
  font-family: 'AG_Futura Bold', Arial, sans-serif;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
}
//font
 @font-face {
  	font-family: 'AG_Futura';
  	src: url('../fonts/AG_Futura.woff') format("woff");
 }
 @font-face {
  	font-family: 'AG_Futura Bold';
  	src: url('../fonts/AG_Futura Bold.woff') format("woff");
 }	
 @font-face {
  	font-family: 'Futuris';
  	src: url('../fonts/Futuris.woff') format("woff");
 }	
  @font-face {
  	font-family: 'Futuris Bold';
  	src: url('../fonts/Futuris Bold.woff') format("woff");
 }


