@import "base";
//reset 
* { margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: #fff;
	font-family: 'Futuris', Arial, sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//
a {
	text-decoration: none;
}
input, textarea, button {
	border: none;
	outline: none;
}
button {
	background: none;
	cursor: pointer; 
}
// common styles
.h2 {
	padding-bottom: 20px;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	&:before {
		content: "- ";
	}
	&:after {
		content: " -";
	}
}
.h2_red {
	color: #e91818;
}
.h2_today {
	height: 60px;
	line-height: 60px;
	color: #e91818;
}
.h3 {
	font-size: 14px;
}
.container {	
	width: 1250px;
	margin: 0 auto;
}
//header
.header {
	position: relative;
	z-index: 100;
}
.header__top {
	background: #fff;
	.container {
		position: relative;
		height: 65px;
		font-family: Arial, sans-serif;	
	}
}
.header__bottom {		
	.container {
		position: relative;
		height: 23px;
		background: #fff;
	}
}
.logo {
	position: absolute;
	top: -34px;
	left: -21px;
	a {
		display: block;
		@include sized-sprite($index_img, logo);
		@extend %hide-text;
	}
	&:before {
		content: '';
		position: absolute;
		top: -6px;
		left: -7px;
		width: 96px;
		height: 96px;
		@include border-radius(50%);
		background: #fff;
		z-index: -1;
	}
}
.phone, .mail, .search, .exlusive, .radio {
	float: left;	
}
.phone {
	width: 165px;
	margin: 13px 0 0 180px;
	font-size: 17px;
	color: #666;
	span {
		font-size: 13px;
		font-weight: bold;
		color: #000;
	}
}
.mail {
	width: 147px;
	margin-top: 13px;
	a {
		font-size: 16px;
		color: #666;
	}	
	span {
		font-weight: bold;
		color: #000;
	}
}
.search {
	height: 24px;
	margin: 8px 50px 0 0;
	padding-left: 5px;
	border: 1px solid #e8e8e8;
	@include border-radius(3px 1px 1px 3px);
	input {
		float: left;
		width: 70px;
		height: 24px;
		background: none;
		@include transition(width, 0.3s, linear);
		&:focus {
			width: 140px;
		}
	}
	button {
		position: relative;
		float: right;
		height: 24px;
		width: 30px;
	}
	i {
		position: absolute;
		top: 7px;
		right: 9px;
		@include sized-sprite($index_img, search);
	}
}
.exlusive {
	margin-right: 33px;
	@include sized-sprite($index_img, exl);
}
.radio {
	position: relative;
	width: 40px;
	height: 20px;
	line-height: 20px;
	margin-top: 11px;
	padding-left: 5px;
	border-left: 20px solid $blue;
	@include border-radius(5px);
	background: #ece6e6;
	font-size: 11px;
	text-shadow: 1px 1px 1px #fff;
	color: #000;
	&:before {
		content: '';
		position: absolute;
		top: 6px;
		left: -12px;
		@include sized-sprite($index_img, arr1);
	}
}
.enter {
	float: right;
	margin-top: 11px;
	a {
		float: left;
	}
}
.enter__fb {
	margin-right: 2px;
	@include sized-sprite($index_img, fb);
}
.enter__vk {
	margin-right: 7px;
	@include sized-sprite($index_img, vk);
}
.enter__gen {
	position: relative;
	padding-right: 12px;
	line-height: 18px;
	font-size: 13px;
	color: #000;
	&:after {
		content: '';
		position: absolute;
		top: 6px;
		right: 0;
		@include sized-sprite($index_img, arr2);
	}
}
//nav
.nav {
	float: left;
	margin-left: 180px;
	ul {
		overflow: hidden;
	}
	li {
		position: relative;
		float: left;
		margin-left: 50px;
		&:after {
			content: '';
			position: absolute;
			top: 3px;
			left: -28px;
			@include sized-sprite($index_img, mark);
		}
		&:first-child {
			margin-left: 0px;
			&:after {
				display: none;
			}
		}
	}
	a {
		display: block;
		padding-bottom: 8px;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 14px;
		color: #000;
		text-transform: uppercase;
		&:hover {
			border-bottom: 4px solid $orange;
		}
	}
}
//footer
.footer {
	margin-bottom: 50px;
	padding: 30px 20px 30px 40px;
	border-bottom: 5px solid #eaeaea;
	background: #fafafa;
	overflow: hidden;
}
.footer__contacts {
	float: left;
}
.footer__phone {
	margin-bottom: 10px;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 14px;	
	color: #000;
}
.footer__mail {
	margin-bottom: 30px;
	a {
		color: #0c0c0c;
		text-decoration: underline;
	}
}
.footer__adress {
	b, span {
		display: block;
		margin-bottom: 10px;
	}
	b {
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 14px;	
		color: #000;
	}
	span, p {
		color: #0c0c0c;
		font-size: 12px;
	}
	span {
		font-family: 'PT Sans', sans-serif;
		font-size: 12px;
		font-weight: 700;
	}
	p {
		font-family: 'PT Sans', sans-serif;
		font-size: 12px;
		line-height: 1.3;
	}
}
.footer__right {
	float: right;
	width: 265px;
	padding-left: 30px;
	border-left: 1px solid #ececec;
}
.payment {
	overflow: hidden;
	li {
		float: left;
		margin-right: 15px;
	}
}
.payment__ym {@include sized-sprite($index_img, pm1);}
.payment__sb {@include sized-sprite($index_img, pm2);}
.payment__mk {@include sized-sprite($index_img, pm3);}
.payment__wm {@include sized-sprite($index_img, pm4);}
.payment__kw {@include sized-sprite($index_img, pm5);}
.footer__social {
	padding-top: 20px;
	border-top: 1px solid #ececec;
	margin-top: 25px;
	ul {
		overflow: hidden;
	}
	li {		
		float: left;		
		margin-bottom: 13px;		
	}
	a {
		position: relative;
		display: block;
		width: 90px;
		height: 25px;
		line-height: 25px;
		padding-left: 30px;
		font-family: 'PT Sans', sans-serif;
		font-size: 13px;
		color: #666666;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.footer__vk {
	@include sized-sprite($index_img, f-vk);
}
.footer__tw {
	@include sized-sprite($index_img, f-tw);
}
.footer__fb {
	@include sized-sprite($index_img, f-fb);
}
.nav-list {
	float: left;	
	ul {
		float: left;
		width: 155px;
		&:last-child {
			margin: 0 15px 30px 15px;
			padding: 0 15px 0 30px;
			border-left: 1px solid #ececec;
			border-right: 1px solid #ececec;
		}
	}
	li {
		margin-bottom: 12px;
	}
	a {
		font-family: 'PT Sans', sans-serif;
		font-size: 13px;
		color: #0c0c0c;
	}
	.nav-list__bold {
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 14px;	
		color: #000;	
		line-height: 1.3;
	}
}
//general
.txt-field {
	margin-bottom: 20px;
	font-family: 'Futuris', Arial, sans-serif;
	label {
		display: block;
		margin-bottom: 4px;
		font-size: 14px;
		color: #fff;
	}
	input {
		height: 33px;
		padding: 0 5px;
		@include border-radius(3px);
		font-family: 'Futuris', Arial, sans-serif;
		font-size: 16px;
		color: #9a9a9a;
	}
}
.select {
	font-family: 'Futuris', Arial, sans-serif;
}
.select__title {
	display: block;
	margin-bottom: 2px;
	color: #fff;
}
.select__value {
	position: relative;
	height: 33px;
	line-height: 33px;
	padding-left: 5px;
	background: #fff;
	@include border-radius(3px);
	cursor: pointer;
	color: #9a9a9a;
	font-size: 16px;
	&:after {
		content: "";
		position: absolute;
		top: 14px;
		right: 5px;
		@include sized-sprite($index_img, arr);
	} 
	select {
		position: absolute;
		top: 0;
		left: 0;
		width: 98px;
		height: 33px;		
		cursor: pointer;
		opacity: 0;
		z-index: 10;
	}
}
//item
.item {	
	padding-bottom: 60px;
	text-align: center;
}
.item__pic {
	margin-bottom: 5px;
	img {
		display: inline-block;
		min-height: 180px;
	}
}
.item__cat, .item__number {		
	a, span {
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 9px;
		text-transform: uppercase;
		color: $green;
		letter-spacing: 2px;
	}	
}
.item__cat {
	padding: 15px 0 10px 0;
}
.item__number {
	padding-bottom: 10px;
}
.item__title {
	margin-bottom: 5px;
	a {
		display: inline-block;		
		line-height: 1;
		vertical-align: middle;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 22px;
		color: #000;
	}
	span {
		border-bottom: 1px solid #d3d3d3;
		line-height: 1.3;		
	}
}
.item__rate {
	margin-bottom: 23px;
	img {
		min-height: 18px;
	}
}
.item__comm {
	margin-bottom: 10px;
	span {
		position: relative;
		padding: 0 66px 0 0;			
	}
	a {
		position: relative;
		padding-left: 22px;
		font-family: 'PT Sans', sans-serif;
		font-size: 12px;
		font-weight: 700;
		color: #dfdfdf;	
		&:before {
			content: "";
			position: absolute;
			top: 2px;
			left: 0;
			@include sized-sprite($index_img, comm);
		}
	}
	img {
		position: absolute;
		top: 4px;
		right: 0;
	}
}
.item__desc {	
	padding-top: 2px;
	overflow: hidden;
	a {		
		display: block;
		padding-left: 16px;
		line-height: 1.3;
		font-family: 'PT Sans', sans-serif;
		font-size: 13px;
		font-weight: 700;
		color: #000;		
	}	
	span {
		position: relative;
		text-decoration: underline;
		&:before {
			content: "";
			position: absolute;
			top: 1px;
			left: -16px;
			@include sized-sprite($index_img, marker);
		}
	}
	p {
		padding: 15px 10px;
		line-height: 1.3;
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		color: #000;
	}
}
.item__price {
	padding-bottom: 20px;	
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 18px;
	color: #000;
}
//navi
.navi {
	padding: 20px 0;
	border-top: 1px solid #ececec;
	text-align: center;	
	font-size: 0;
	span {
		padding: 0 20px;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 14px;
		color: #000;
	}
}
.navi_mod {
	margin-bottom: 60px;
}
.navi_no-brd {
	border: none;
}
.navi__curr, .navi__total {
	font-weight: normal;	
	&.disabled {
		color: #a2a2a2;
	}
}
.navi__prev {
	@include sized-sprite($index_img, navi_prev);
	&.disabled {
		@include sized-sprite($index_img, navi_prev_dis);
	}
}
.navi__next {
	@include sized-sprite($index_img, navi_next);
	&.disabled {
		@include sized-sprite($index_img, navi_next_dis);
	}
}
//date
.date {
	margin-bottom: 15px;
	text-align: center;
	span {
		display: inline-block;
		height: 30px;
		padding: 0 20px;
		background: $green;
		line-height: 30px;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 11px;
		color: #fff;
	}
}
//tape
.tape {
	display: inline-block;
	margin-bottom: 45px;
	text-align: center;
}
.tape_mod {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ececec;
}
.tape_mod-1 {
	padding-bottom: 30px;
}
.tape__cat {
	margin-bottom: 12px;
	a {
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 10px;
		text-transform: uppercase;
		color: #626262;
	}
}
.tape__pic {
	margin-bottom: 15px;
	img {
		display: inline-block;
	}
}
.tape__title {
	margin-bottom: 15px;
	padding: 0 35px;
	a {
		line-height: 1.3;
		font-family: 'PT Sans', sans-serif;
		font-size: 15px;
		color: #000;
		border-bottom: 1px solid #d3d3d3;
		font-weight: 700;
	}
}
.tape__user {
	margin-bottom: 7px;
	text-align: center;
	font-size: 0;
	a {
		display: inline-block;
		height: 26px;
		line-height: 26px;		
	}
	img {
		float: left;
		margin-right: 10px;
	}
	span {
		border-bottom: 1px solid #656565;
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		color: #000;
		font-weight: 700;
	}
}
.tape__detail {
	text-align: center;
	font-size: 0;
	span, a {
		position: relative;
		display: inline-block;
		height: 14px;
		line-height: 14px;
		font-family: 'PT Sans', sans-serif;
		font-size: 13px;
		color: #d3d3d3;
		font-weight: 700;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
		}	
	}
}
.tape__comm {
	padding-left: 21px;
	&:before {
		@include sized-sprite($index_img, comm);
	}
}
.tape__like {
	padding-left: 25px;
	margin-left: 9px;
	&:before {
		@include sized-sprite($index_img, like);
	}
}
.tape__people {
	margin: 20px 0 10px 0;
	font-size: 0;
	text-align: center;
	img {
		display: inline-block;
		margin: 0 3px;
	}
}
.tape__go {
	a {
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		color: #000;
		font-weight: 700;
		border-bottom: 1px dashed #a1a1a1;
	}	
}
//circle
.circle {
	text-align: center;
	img {
		@include border-radius(50%);
	}
}
.circle__pic {
	min-height: 138px;
	margin-bottom: 20px;
}
.circle__date {
	margin-bottom: 15px;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 10px;
	color: #626262;
	letter-spacing: 2px;
}
//slider
.slider {
	position: relative;
}
.slider_mod {
	.item {
		padding-bottom: 0px;
	}		
}
.slider__item {
		height: 1667px;
}
.slider_circle {
	.slider__item {
		height: 414px;
	}
}
//column
.slider-middle {
	position: relative;
	height: 1633px;
	padding-bottom: 55px;
}
.column-wrap {
	width: auto;
	height: 1633px;
	overflow: hidden;
}
.column {
	position: relative;
	left: 0;
	height: 1633px;
	-webkit-column-width: 290px;
	   -moz-column-width: 290px;
		      column-width: 290px;
	-webkit-column-rule: 1px solid #ececec;
		 -moz-column-rule: 1px solid #ececec;
					column-rule: 1px solid #ececec;
	-webkit-column-gap: 1px;
		 -moz-column-gap: 1px;
					column-gap: 1px;
	.tape {
		margin: 0 10px 45px 10px;
	}
	.date {
		margin: 0 10px 15px 10px;
	}
	.tape_mod {
		margin: 0 10px 30px 10px;
	}
}
.navi_column {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border: none;
}