@import "base";
//reset 
* { margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: #fff;
	font-family: 'Futuris', Arial, sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//
a {
	text-decoration: none;
}
input, textarea, button {
	border: none;
	outline: none;
}
button {
	background: none;
	cursor: pointer; 
}
//extend
%btn-orange {
  @include background-image(linear-gradient(#ffcc00, #e99400));
  @include box-shadow(rgba(0,0,0,0.38) 0 1px 0);
  @include border-radius(3px);
  color: #fff;  
  text-shadow: 0 1px 1px rgba(97,62,0,0.54);  
  cursor: pointer;
  &:hover {
    @include box-shadow(inset 0 2px 1px rgba(162,93,3,.25), #d19500 0 0 0 1px inset);
    @include background-image(linear-gradient(bottom, #fdc900 -25%, #f9bf00 42.31%, #f3af00 80.65%, #ed9f00 125%));
  }
  &.disabled {

  }
}
%btn-blue {
  height: 40px;
  padding: 0 20px;
  border: 1px solid #0167a9;
  background-color: #09f;
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.4));
  @include background-image(linear-gradient(bottom, rgba(0,0,0,.05) 0%, rgba(125,125,125,.05) 50%, rgba(255,255,255,.05) 100%));
  @include border-radius(5px);
  font-family: 'AG_Futura Bold', Arial, sans-serif;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  &:hover {
    border: 1px solid #026aac;
    background-color: #09f;
    @include box-shadow(inset 0 1px 2px #024d84);
    @include background-image(linear-gradient(bottom, #56bcfc 0%, #0095ff 66.16%, #0095ff 100%));
  }
  &.disabled {
  	border: 1px solid #bebebe;
		background: #d9d9d9;
		@include box-shadow(none);
		&:hover {
			border: 1px solid #bebebe;
			background: #d9d9d9;
			@include box-shadow(none);
		}
  }
}
// common styles
.h2 {
	padding-bottom: 20px;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 20px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	&:before {
		content: "- ";
	}
	&:after {
		content: " -";
	}
}
.h2_green {
	color: #21ab9c;
}
.h2_yellow {
	color: #ffc000;
}
.h2_today {
	height: 60px;
	line-height: 60px;
	color: #e91818;
}
.h3 {
	font-size: 14px;
}
.container {	
	width: 1250px;
	margin: 0 auto;
}
//header
.header {
	position: relative;
	z-index: 100;
}
.header__top {
	background: #fff;
	.container {
		position: relative;
		height: 65px;
		font-family: Arial, sans-serif;	
	}
}
.header__bottom {		
	.container {
		position: relative;
		height: 23px;
		background: #fff;
	}
}
.logo {
	position: absolute;
	top: -34px;
	left: 0;
	a {
		display: block;
		@include sized-sprite($index_img, logo);
		@extend %hide-text;
	}
	&:before {
		content: '';
		position: absolute;
		top: -6px;
		left: -7px;
		width: 96px;
		height: 96px;
		@include border-radius(50%);
		background: #fff;
		z-index: -1;
	}
}
.phone, .mail, .search, .radio {
	float: left;	
}
.phone {
	width: 165px;
	margin: 13px 0 0 180px;
	font-size: 17px;
	color: #666;
	span {
		font-size: 13px;
		font-weight: bold;
		color: #000;
	}
}
.mail {
	width: 147px;
	margin-top: 13px;
	a {
		font-size: 16px;
		color: #666;
	}	
	span {
		font-weight: bold;
		color: #000;
	}
}
.search {
	height: 24px;
	margin: 8px 50px 0 0;
	padding-left: 5px;
	border: 1px solid #e8e8e8;
	@include border-radius(3px 1px 1px 3px);
	input {
		float: left;
		width: 70px;
		height: 24px;
		background: none;
		@include transition(width, 0.3s, linear);
		&:focus {
			width: 140px;
		}
	}
	button {
		position: relative;
		float: right;
		height: 24px;
		width: 30px;
	}
	i {
		position: absolute;
		top: 7px;
		right: 9px;
		@include sized-sprite($index_img, search);
	}
}
.exlusive-link {
	position: relative;
	float: right;
	width: 66px;
	height: 40px;
	margin: -12px 11px 0 0;
	i{
		position: absolute;
		top: 0px;
		left: 0px;
		@include sized-sprite($index_img, exl);
	}	
}
.radio, .enter-btn  {
	position: relative;
	height: 24px;
	margin-top: 8px;	
	border: 1px solid #cecece;
	@include border-radius(5px);
	background-color: #fff;
	@include box-shadow(1px 1px 0 rgba(0,0,0,.05));
	@include background-image(linear-gradient(bottom, rgba(228,228,228,.53) 45%, rgba(255,255,255,.53) 49.96%, rgba(255,255,255,.53) 55%));
	line-height: 26px;	
}
.radio {
	padding: 0 17px 0 30px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 10px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	strong {
		margin-right: 5px;
	}
	span {
		margin-left: 5px;
		color: #666;
	}
	i {
		position: absolute;
		top: 6px;
		left: 8px;
		@include sized-sprite($index_img, radio);
	}
	&:hover {
		strong {
			color: #0066cc;
		} 
		i {
			@include sized-sprite($index_img, radio-act);
		}
	}
}
.enter-btn {
	float: right;
	padding: 0 20px 0 6px;	
	line-height: 1;
	span {
		float: left;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 12px;
		color: $blue;
		text-transform: uppercase;
		line-height: 16px;
	}
}
.enter-btn__fb {
	margin-right: 6px;
	@include sized-sprite($index_img, fb);
}
.enter-btn__vk {
	margin-right: 14px;
	@include sized-sprite($index_img, vk);
}
//nav
.nav {
	float: left;
	margin-left: 180px;
	ul {
		overflow: hidden;
	}
	li {
		position: relative;
		float: left;
		margin-left: 40px;
		&:after {
			content: '';
			position: absolute;
			top: 3px;
			left: -23px;
			@include sized-sprite($index_img, mark);
		}
		&:first-child {
			margin-left: 0px;
			&:after {
				display: none;
			}
		}
	}
	a {
		display: block;
		padding-bottom: 8px;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 14px;
		color: #000;
		text-transform: uppercase;
		&:hover {
			border-bottom: 4px solid $orange;
		}
	}
}
//online
.online {
	position: relative;
	float: right;
	width: 275px;
	height: 40px;
	margin-top: -12px;		
	form {
		position: absolute;
		top: 0;
		left: 0;
		width: 275px;
		background: url(../img/index_img/online_bg.jpg);
		@include border-radius(3px);
		@include box-shadow(rgba(1,108,180,0.5) 0 0 5px inset, rgba(1,108,180,0.5) 0 -5px 15px inset);
	}
}
.online__details {
	display: none;
	width: 245px;
	padding: 15px;	
}
.online__title {	
	position: relative;
	width: 275px;
	height: 40px;	
	padding-left: 15px;
	text-align: left;
	font-family: 'Futuris Bold', Arial, sans-serif;	
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: rgba(0,0,0,0.56) 0 1px 1px;
	span {
		position: relative;
	}
	i {
		display: none;
		position: absolute;
		top: 2px;
		right: -18px;
		@include sized-sprite($index_img, close);
	}
	&.open {
		i {
			display: block;
		}
	}
}
.online__detail {
	padding: 15px;	
}
.online__type {
	height: 34px;
	margin-bottom: 8px;
	@include box-shadow(rgba(0,0,0,0.36) 0 1px 1px);
	@include border-radius(3px);
	text-align: center;
	li {
		float: left;
		background: #00b8ff;
		@include background-image(linear-gradient(#00b8ff, #02a9e9));
	}
	label {
		display: block;
		height: 34px;
		line-height: 34px;	
		font-size: 13px;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		color: #fff;	
		text-shadow: 0 1px 1px rgba(97,62,0,0.54);
		cursor: pointer;
		@extend %us;
		&.active {
			background: #ffcc00;
			@include background-image(linear-gradient(#ffcc00, #e99400));
			@include box-shadow(rgba(74,32,0,0.42) 0 1px 7px inset);
		}
	}
	input {
		display: none;
	}
}
.online__tour {width: 60px;}
.online__hotel {width: 75px;}
.online__avia {width: 110px;}
.online__reserve {
	.txt-field {
		input {
			width: 235px;
		}		
	}
}
.online__date {
	height: 51px;
	margin-bottom: 20px;
	.txt-field {
		position: relative;
		float: right;
		&:after {
			content: "";
			position: absolute;
			top: 25px;
			right: 5px;
			@include sized-sprite($index_img, date);
		}
		input {
			position: relative;
			width: 110px;		
			line-height: 33px;
		}		
		&:first-child {
			float: left;
		}
	}
}
.online__people {
	height: 51px;
	margin-bottom: 20px;
	.select {
		float: left;
		margin-left: 8px;
		&:first-child {
			margin-left: 0px;
		}
	}
	.select__value {
		width: 71px;
	}
}
.online__sbt {
	width: 245px;
	height: 41px;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 16px;	
	@extend %btn-orange;
}
//footer
.footer {
	margin-bottom: 50px;
	padding: 30px 20px 30px 40px;
	border-bottom: 5px solid #eaeaea;
	background: #fafafa;
	overflow: hidden;
}
.footer__contacts {
	float: left;
}
.footer__phone {
	margin-bottom: 10px;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 14px;	
	color: #000;
}
.footer__mail {
	margin-bottom: 30px;
	a {
		color: #0c0c0c;
		text-decoration: underline;
	}
}
.footer__adress {
	b, span {
		display: block;
		margin-bottom: 10px;
	}
	b {
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 14px;	
		color: #000;
	}
	span, p {
		color: #0c0c0c;
		font-size: 12px;
	}
	span {
		font-family: 'PT Sans', sans-serif;
		font-size: 12px;
		font-weight: 700;
	}
	p {
		font-family: 'PT Sans', sans-serif;
		font-size: 12px;
		line-height: 1.3;
	}
}
.footer__right {
	float: right;
	width: 265px;
	padding-left: 30px;
	border-left: 1px solid #ececec;
}
.payment {
	overflow: hidden;
	li {
		float: left;
		margin-right: 15px;
	}
}
.payment__ym {@include sized-sprite($index_img, pm1);}
.payment__sb {@include sized-sprite($index_img, pm2);}
.payment__mk {@include sized-sprite($index_img, pm3);}
.payment__wm {@include sized-sprite($index_img, pm4);}
.payment__kw {@include sized-sprite($index_img, pm5);}
.footer__social {
	padding-top: 20px;
	border-top: 1px solid #ececec;
	margin-top: 25px;
	ul {
		overflow: hidden;
	}
	li {		
		float: left;		
		margin-bottom: 13px;		
	}
	a {
		position: relative;
		display: block;
		width: 90px;
		height: 25px;
		line-height: 25px;
		padding-left: 30px;
		font-family: 'PT Sans', sans-serif;
		font-size: 13px;
		color: #666666;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.footer__vk {
	@include sized-sprite($index_img, f-vk);
}
.footer__tw {
	@include sized-sprite($index_img, f-tw);
}
.footer__fb {
	@include sized-sprite($index_img, f-fb);
}
.nav-list {
	float: left;	
	ul {
		float: left;
		width: 155px;
		&:last-child {
			margin: 0 15px 30px 15px;
			padding: 0 15px 0 30px;
			border-left: 1px solid #ececec;
			border-right: 1px solid #ececec;
		}
	}
	li {
		margin-bottom: 12px;
	}
	a {
		font-family: 'PT Sans', sans-serif;
		font-size: 13px;
		color: #0c0c0c;
	}
	.nav-list__bold {
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 14px;	
		color: #000;	
		line-height: 1.3;
	}
}
//breadcrumps
.breadcrumps {	
	background: #f5f5f5;
	margin-bottom: 30px;
	.container {
		height: 34px;
		line-height: 34px;
	}
	ul {
		overflow: hidden;
	}
	li {
		float: left;
		margin-right: 11px;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 14px;
		font-weight: 700;
		color: #000;
	}
	span {
		margin-left: 7px;
		color: #666;
	}
	a {		
		color: #666;
		font-weight: 400;
	}
}
//general
.rating, .rating-choice {
	width: 100px !important;
	height: 18px;
	overflow: hidden;
	img {
		float: left;
		margin-right: 2px;
	}
}
.txt-field {
	margin-bottom: 20px;
	font-family: 'Futuris', Arial, sans-serif;
	label {
		display: block;
		margin-bottom: 4px;
		font-size: 14px;
		color: #fff;
	}
	input {
		height: 33px;
		padding: 0 5px;
		@include border-radius(3px);
		font-family: 'Futuris', Arial, sans-serif;
		font-size: 16px;
		color: #9a9a9a;
	}
}
.select {
	font-family: 'Futuris', Arial, sans-serif;
}
.select__title {
	display: block;
	margin-bottom: 2px;
	color: #fff;
}
.select__value {
	position: relative;
	height: 33px;
	line-height: 33px;
	padding-left: 5px;
	background: #fff;
	@include border-radius(3px);
	cursor: pointer;
	color: #9a9a9a;
	font-size: 16px;
	&:after {
		content: "";
		position: absolute;
		top: 14px;
		right: 5px;
		@include sized-sprite($index_img, arr);
	} 
	select {
		position: absolute;
		top: 0;
		left: 0;
		width: 76px;
		height: 33px;		
		cursor: pointer;
		opacity: 0;
		z-index: 10;
	}
}
//navi
.navi {
	padding: 25px 0;
	border-top: 1px solid #dadada;
	text-align: center;	
	font-size: 0;
	span {
		padding: 0 20px;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 14px;
		color: #000;
	}
}
.navi_mod {
	margin-bottom: 60px;
}
.navi_no-brd {
	border: none;
}
.navi__curr, .navi__total {
	font-weight: normal;	
	&.disabled {
		color: #a2a2a2;
	}
}
.navi__prev {
	@include sized-sprite($index_img, navi_prev);
	&.disabled {
		@include sized-sprite($index_img, navi_prev_dis);
	}
}
.navi__next {
	@include sized-sprite($index_img, navi_next);
	&.disabled {
		@include sized-sprite($index_img, navi_next_dis);
	}
}
//slider
.slider {
	position: relative;
}
.slider_mod {
	.item {
		padding-bottom: 0px;
	}		
	.item__price {
		border: none;
	}
}
.slider__item {
	height: 1642px;
	.item {
		&:last-child {
			.item__price {
				height: 414px;
			}
		}
	}
}
.slider_circle {
	.slider__item {
		height: 350px;
	}
}
.slider_tapes {
	.slider__item {
		padding-left: 16px;
	}
}
//popup
.popup-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(64,190,238,0.7);
	z-index: 1000;
}
.popup {
	display: none;
	position: fixed;
	top: 130px;
	left: 50%;
	background: #fff;
	border: 1px solid #bebebe;
	@include border-radius(5px);
	z-index: 1100;
}
.popup_enter {
	width: 400px;
	margin-left: -200px;
}
.popup__title {
	padding: 30px 0 20px 50px;
	background: #fff;
	@include background-image(linear-gradient(#fff, #dfe8ed));
	border-bottom: 1px solid #e4e4e4;
	@include border-radius(5px 5px 0 0);
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 22px;
	color: #10212d;
	text-transform: uppercase;
}
.popup__close {
	position: absolute;
	top: 35px;
	right: 30px;
	@include sized-sprite($index_img, popup-close);
}
.enter__social {
	padding: 40px 45px;
	border-bottom: 1px solid #e4e4e4;
	button {
		position: relative;
		width: 310px;
		height: 42px;
		padding-left: 50px;
		border-style: solid;
		border-width: 1px;
		@include border-radius(4px);
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 18px;
		color: #fff;
		&:before {
			content: "";
			position: absolute;
			top: 6px;
			left: 13px;
		}
		i {
			position: absolute;
			top: 0;
			left: 52px;
			width: 1px;
			height: 30px;
			@include background-image(linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0)));
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 1px;
				width: 1px;
				height: 30px;
				@include background-image(linear-gradient(top, rgba(37,62,112,1), rgba(37,62,112,0)));
			}
		}
	}
}
.enter__social-fb {
	margin-bottom: 25px;
	background: #6179aa;
	@include background-image(linear-gradient(#6179aa, #375591));
	border-color: #253e70;
	@include box-shadow(#253e70 0 5px 0, rgba(255,255,255,0.05) 0 -1px 0 inset, rgba(255,255,255,0.4) -1px 1px 0 inset);
	&:before {
		@include sized-sprite($index_img, enter-fb);
	}
}
.enter__social-vk {
	background: #296fb9;
	@include background-image(linear-gradient(#296fb9, #134985));
	border-color: #253e70;
	@include box-shadow(#253e70 0 5px 0, rgba(255,255,255,0.05) 0 -1px 0 inset, rgba(255,255,255,0.4) -1px 1px 0 inset);
	&:before {
		@include sized-sprite($index_img, enter-vk);
	}
}
.enter__extra-open {
	padding: 0 45px; 
	button {
		height: 50px;
		font-size: 14px;
		color: #464646;
		text-decoration: underline;	
	}	
}
.enter__extra {
	display: none;
	padding: 35px 45px 20px 45px;
	border-top: 1px solid #e4e4e4;
	input {
		&[type="text"], &[type="password"] {
			width: 278px;
			height: 47px;
			padding: 0 15px;
			border: 1px solid #e2e2e2;
			@include border-radius(4px);
			@include box-shadow(rgba(0,0,0,0.1) 0 0 10px inset);		
			font-size: 18px;
			color: #000;
			&:focus {
				border-color: $blue;
				@include box-shadow(rgba(0,0,0,0.1) 0 0 7px inset, $blue 0 0 7px);
			}
		}
		&[type="text"] {
			margin-bottom: 20px;			
		}
		&[type="password"] {
			margin-bottom: 10px;
		}
		&[type="submit"] {
			width: 310px;
			height: 40px;
			margin-top: 10px;
			@extend %btn-orange;
			font-family: 'AG_Futura Bold', Arial, sans-serif;
			font-size: 18px;
		}
	}
	a {
		font-family: Arial, Tahoma, sans-serif;
		font-size: 12px;
		color: #464646;
		text-decoration: underline;
	}
}
//inner
.inner {
	height: 70px;
	margin-top: -20px;
	background: url(../img/hotel_img/inner.jpg) no-repeat 50% 0;
	background-size: cover;
	border-bottom: 5px solid #1a113a;
}
//datepicker
.ui-datepicker {
	@include border-radius(5px);
	background-color: #f5f5f5;
	@include box-shadow(0 1px 4px rgba(0,0,0,.25));
	font-family: 'PT Sans', Arial, sans-serif;
}
.ui-widget-header {
	position: relative;
	height: 35px;
	line-height: 35px;
	background: #000;
	@include border-radius(5px 5px 0 0);
}
.ui-datepicker-title {
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	text-align: center;
}
.ui-datepicker-calendar {
	background: #f5f5f5;
	@include border-radius(0 0 5px 5px);
	th {
		span {
			border-bottom: 1px solid #e7e7e7;
			color: #6c6c6c;
			font-size: 12px;
		}		
	}
	a, span {
		display: block;
		width: 22px;
		height: 19px;
		line-height: 19px;
		border: 4px solid #f5f5f5;
		text-align: center;	
	}
	a {
		font-size: 13px;
		color: #6c6c6c;
	}
	span {
		font-size: 13px;
		color: #b5b5b5;
	}
	.ui-state-active {
		border: 4px solid #000;
		color: #000;
		font-weight: 700;
	}
}
.ui-datepicker-prev, .ui-datepicker-next {
	position: absolute;
	top: 8px;
	cursor: pointer;
	span {
		display: block;
		@extend %hide-text;
	}
}
.ui-datepicker-prev {
	left: 5px;
	span {
		@include sized-sprite($index_img, dp-prev);
	}
}
.ui-datepicker-next {
	right: 5px;
	span {
		@include sized-sprite($index_img, dp-next);
	}
}
//btn-more
.btn-more {
	padding: 0 2px 20px 2px;
	button {
		width: 1246px;
		height: 79px;
		@include border-radius(7px);
		@include background-clip(padding-box);
		background-color: #fff;
		@include box-shadow(0 1px 1px rgba(0,0,0,.38));
		@include background-image(linear-gradient(bottom, #ececec 0%, #fdfbfb 100%));
		color: #ababab;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 25px;
		font-weight: 700;
		&:hover {
			@include box-shadow(0 1px 0 rgba(0,0,0,.38), inset 0 3px 3px rgba(0,0,0,.1));
			@include background-image(linear-gradient(bottom, #fdfbfb 0%, #ececec 100%));
		}
	}
}
//icons
.ico-like {
	@include sized-sprite($index_img, ico-like);
}
.ico-comm {
	@include sized-sprite($index_img, ico-comm);
}
.ico-like-w {
	@include sized-sprite($index_img, ico-like-w);
}
.ico-comm-w {
	@include sized-sprite($index_img, ico-comm-w);
}