@import "base";
//styles for inner pages
.hl-title {
	padding: 60px 0;
	text-align: center;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 48px;
}
.hl-tabs {
	margin-bottom: 30px;
	text-align: center;
	font-size: 0;
	li {
		display: inline-block;
		height: 30px;
		padding: 0 15px;
	}
	a {
		display: block;
		height: 30px;
		padding: 0 10px;
		line-height: 30px;					
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 16px;	
		color: #000;	
		&.active {	
			@extend %btn-orange;
			text-shadow: none;
			span {
				border-bottom: none;
			}
		}
	}
	span {
		border-bottom: 1px dotted #000;	
	}
}
.hl-tabs_sort {
	margin: 35px 0 30px 0;
	li {
		&:first-child {
			height: 30px;
			line-height: 30px;
			font-family: 'Futuris', Arial, sans-serif;
			font-size: 18px;
		}
	}
}
.hl-slider {
	ul {		
		width: 1250px;
		height: 370px;
	}
	li {
		position: relative;
		float: left;
		margin-left: 25px;
		&:first-child {
			margin-left: 0;
		}
	}
	img {
		display: block;
	}
}
.hl-slider__desc, .hl-hotels__desc {
	position: absolute;
	top: 170px;
	left: 0;
	width: 100%;
	text-align: center;
	span {
		display: block;	
		margin-bottom: 3px;
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 30px;	
		color: #fff;		
	}
	img {
		display: inline-block;
	}
}
.hl-search {
	.h2 {
		padding: 55px 0 20px 0;
		font-family: "Futuris";
		letter-spacing: 2px;
	}
	form {
		padding: 25px 0 25px 215px;
		border: 1px solid #e6e6e6;
		border-width: 1px 0 1px 0;
		overflow: hidden;
	}
}
.hl-search__place, .hl-search__rating {
	float: left;
	margin-right: 15px;
	label, span {
		display: block;
		margin-bottom: 5px;
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 14px;
	}
	input {
		height: 37px;
		padding: 0 10px;
		border: 1px solid #e6e6e6;
		@include border-radius(3px);
		background: #f8f8f8;
		font-size: 16px;
	}
}
.hl-search__place {
	input {
		width: 320px;
	}
}
.hl-search__rating {
	span {
		margin-bottom: 15px;
	}
}
.hl-search__sbt {
	float: left;
	height: 39px;
	padding: 0 25px;
	margin-top: 19px;
	@extend %btn-orange;
	font-family: 'Futuris Bold', Arial, sans-serif;
	font-size: 18px;
}
.hl-search__options {
	padding-top: 20px;
	clear: both;
	span {
		position: relative;
		padding-right: 20px;
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 14px;
		cursor: pointer;
		&:after {
			content: "";
			position: absolute;
			top: 4px;
			right: 0;
			@include sized-sprite($hotel_img, arr);
		}
		&.active {
			&:after {
				@include sized-sprite($hotel_img, arr1);
			}
		}
	}
	ul {
		display: none;
		margin-top: 10px;
	}
	li {
		margin-bottom: 10px;
	}
}
.hl-hotels {
	overflow: hidden;
	ul {
		padding-bottom: 38px;
		margin: 0 -30px 44px 0;
		border-bottom: 1px solid #e6e6e6;
		overflow: hidden;
		&:last-child {
			border: none;
		}
	}
	li {
		float: left;
		width: 300px;
		margin-right: 16px;
	}
	p {
		position: relative;
		height: 49px;
		margin-bottom: 15px;
		font-size: 16px;
		overflow: hidden;
	}
	.rating {
		float: left;
		margin: 5px 5px 0 0;
	}
}
.hl-hotels__pic {
	position: relative;
	margin-bottom: 18px;
	img {
		display: block;
	}
}
.hl-hotels__desc {
	top: 115px;
	img {
		display: inline-block;
	}
}
.hl-hitels__map {
	position: relative;
	display: block;
	margin-bottom: 15px;
	line-height: 1.3;
	padding-left: 20px;
	font-size: 12px;
	text-transform: uppercase;
	color: #000;
	&:after {
		content: "";
		position: absolute;
		top: -2px;
		left: 0;
		@include sized-sprite($hotel_img, map);
	}
}
.hl-hotels__detail {
	padding-bottom: 1px;
	overflow: hidden;
}
.hl-hotels__comm {
	position: relative;	
	float: left;
	height: 30px;	
	padding-left: 22px;
	margin-right: 5px;
	line-height: 30px;
	font-size: 12px;
	color: #000;
	&:before {
		content: "";
		position: absolute;
		top: 8px;
		left: 0;
		@include sized-sprite($hotel_img, comm);
	}
}
.hl-hotels__eval {
	float: left;
	margin-top: 9px;
	@include sized-sprite($hotel_img, like);
}
.hl-hotels__reserve {
	float: right;
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	@extend %btn-orange;
	font-family: 'Futuris Bold', Arial, sans-serif;
	font-size: 16px;
}
//hotel item
.hl-hotel-pic {
	position: relative;
	width: 1250px;
	height: 590px;
	li {
		position: relative;
	}
	img {
		display: block;
	}
}
.hl-hotel-pic__social {
	position: absolute;
	right: 56px;
	bottom: 53px;
}
.hl-hotel-pic__desc {
	position: absolute;
	left: 45px;
	bottom: 45px;
	width: 500px;
	color: #fff;
	span {
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 72px;		
	}
	p {
		margin-top: 15px;
		line-height: 1.5;
		font-size: 18px;
	}
}
.hl-details {
	padding: 30px 0 40px 0;
	border-top: 1px solid #e8e8e8;
	overflow: hidden;
}
.hl-details__desc {
	float: left;
	width: 770px;
	span {
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 27px;
	}
}
.hl-details__cols {
	padding: 30px 0 0 0;
	-webkit-column-count: 2;
	   -moz-column-count: 2;
				  column-count: 2;
	-webkit-column-gap: 40px;
	   -moz-column-gap: 40px;
	        column-gap: 40px;
	p {
		display: inline-block;
		margin-bottom: 15px;
		line-height: 1.3;
	}
}
.hl-details__contacts {
	float: right;
	width: 360px;
	padding: 10px 0 0 25px;
	border-left: 1px solid #e8e8e8;
	strong {
		display: block;
		margin-bottom: 10px;
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 14px;
	}
	p {
		margin-bottom: 25px;
		font-size: 18px;
	}
	a {
		color: #000;
	}
	button {
		@extend %btn-blue;
	}
}
.hl-hotel-map {
	margin-bottom: 80px;
}
.hl-comm {
	margin-bottom: 100px;
	overflow: hidden;
	.h2 {
		margin-bottom: 30px;
		border-bottom: 1px solid #e8e8e8;
	}	
}
.hl-comm-list {
	float: left;
	width: 770px;
	ul {
		margin-bottom: 30px;
	}
	li {
		padding: 25px 0;
		border-bottom: 1px solid #e8e8e8;
		overflow: hidden;
	}
}
.hl-comm-list__title {
	font-size: 18px;
	span {
		margin-right: 10px;
		font-family: 'Futuris Bold', Arial, sans-serif;
	}
	a {
		position: relative;
		padding-left: 23px;
		color: #000;
		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			@include sized-sprite($hotel_img, comm);
		}
	}
}
.hl-comm-list__pic {
	float: left;
	margin-right: 20px;
	img {
		display: block;
	}
}
.hl-comm-list__desc {
	overflow: hidden;
	a {
		color: #000;
	}
}
.hl-comm-list__name {
	margin-bottom: 7px;
	overflow: hidden;
	p {
		float: left;
		font-size: 11px;
	}
	a {
		margin-right: 5px;
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-weight: bold;
		font-size: 18px;
	}
	span {
		float: right;
		font-size: 14px;
	}
	strong {
		margin-right: 5px;
		font-family: 'Futuris Bold', Arial, sans-serif;	
	}
}
.hl-comm-list__txt {
	font-size: 16px;
	a {
		margin-right: 5px;
		font-family: 'Futuris Bold', Arial, sans-serif;	
	}
}
.hl-comm-add {
	float: right;
	width: 392px;
	font-size: 14px;
	label, strong {
		display: block;
		margin-bottom: 3px;		
		font-family: 'Futuris Bold', Arial, sans-serif;	
		color: #000;
	}
	strong {
		margin-bottom: 8px;
	}
	.hl-comm-add__name, textarea {
		width: 370px;
		background: #f8f8f8;
		border: 1px solid #e6e6e6;
		@include border-radius(4px);
		font-family: Arial, sans-serif;
		font-size: 14px;
	}
	.hl-comm-add__name {
		margin-bottom: 20px;
		padding: 0 10px;
		height: 32px;
	}
	textarea {
		margin-bottom: 30px;
		padding: 7px 10px;
		height: 214px;
		resize: vertical;
	}
	.rating-choice {
		margin: 10px 0 20px 0;
	}
}
.hl-comm-add__title {
	margin-bottom: 30px;
	font-family: 'Futuris Bold', Arial, sans-serif;	
	font-size: 18px;
}
.hl-comm-add__sbt {
	@extend %btn-blue;
}
//hl-map
.hl-map {

}
.hl-map__type { 
	position: relative;
	padding-bottom: 30px; 
	margin-bottom: 30px;
	text-align: center;  
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		top: 140px;
		left: 20px;
		right: 20px;
		height: 20px;
		@include border-radius(50px);
		@include box-shadow(rgba(0,0,0,0.1) 0 0 90px);
	}
	li {
		display: inline-block;
		width: 90px;
		padding: 0 4px;
		vertical-align: top;
		&:first-child {
			margin-right: 0px;
		}
	}
	a {
		position: relative;
		display: block;
		padding-top: 65px;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 12px;
		color: #898989;
		&.active {
			color: #000;
		}
	}
	span {
		border-bottom: 1px solid #e3e3e3;
		line-height: 1.5;
	}
	i {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -36px;
	}
}
.hl-map__t1 {
	i {
		@include sized-sprite($hotel_img, mt1);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt1a);
		}			
	}
}
.hl-map__t2 {
	i {
		@include sized-sprite($hotel_img, mt2);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt2a);
		}			
	}
}
.hl-map__t3 {
	i {
		@include sized-sprite($hotel_img, mt3);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt3a);
		}			
	}
}
.hl-map__t4 {
	i {
		@include sized-sprite($hotel_img, mt4);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt4a);
		}			
	}
}
.hl-map__t5 {
	i {
		@include sized-sprite($hotel_img, mt5);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt5a);
		}			
	}
}
.hl-map__t6 {
	i {
		@include sized-sprite($hotel_img, mt6);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt6a);
		}			
	}
}
.hl-map__t7 {
	i {
		@include sized-sprite($hotel_img, mt7);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt7a);
		}			
	}
}
.hl-map__t8 {
	i {
		@include sized-sprite($hotel_img, mt8);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt8a);
		}			
	}
}
.hl-map__t9 {
	i {
		@include sized-sprite($hotel_img, mt9);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt9a);
		}			
	}
}
.hl-map__t10 {
	i {
		@include sized-sprite($hotel_img, mt10);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt10a);
		}			
	}
}
.hl-map__t11 {
	i {
		@include sized-sprite($hotel_img, mt11);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt11a);
		}			
	}
}
.hl-map__t12 {
	i {
		@include sized-sprite($hotel_img, mt12);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt12a);
		}			
	}
}
.hl-map__search {
	margin-bottom: 30px;
	text-align: center;
	label, input {
		display: inline-block;
		height: 33px;
		vertical-align: top;
	}
	label {
		padding-right: 15px;
		line-height: 33px;
		font-family: 'Futuris Bold', Arial, sans-serif;	
		font-size: 14px;
	}
	input[type="text"] {
		width: 554px;
		padding: 0 10px;
		margin-right: 9px;
		border: 1px solid #e9e9e9;
		@include border-radius(3px);
		background: #fafafa;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 14px;
	}
	input[type="submit"] {
		@extend %btn-orange;
		padding: 0 30px;
		font-family: 'Futuris Bold', Arial, sans-serif;	
		font-size: 18px;
	}
}
.hl-map__container {
	margin-bottom: 50px;
}


//community
.container_cm {
	margin-top: 60px;
}
.cm-top {
	overflow: hidden;
}
.cm-title {
	float: left;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 60px;	
}
.cm-add {
	float: right;
	padding-top: 15px;
}
.cm-add__open {
	width: 150px;
	margin-bottom: 10px;
	@extend %btn-blue-mod;
	text-align: center;
}
.cm-add__detail {
	overflow: hidden;
	button {
		float: left;
	}
}
.cm-add__pic {
	@include sized-sprite($community_img, add-pic);
}
.cm-add__video {
	@include sized-sprite($community_img, add-video);
}
.cm-add__audio {
	@include sized-sprite($community_img, add-audio);
}
.cm-add__desc {
	@include sized-sprite($community_img, add-desc);
}
.cm-add__man {
	@include sized-sprite($community_img, add-man);
}
//cm-add-post
.cm-add-post {
	display: none;
	padding: 35px 20px 25px 20px;
	margin: 30px 0 60px 0;
	background: #f7f7f7;
	border-top: 4px solid #e1e1e1;	
}
.cm-add-post__title {
	margin-bottom: 25px;
	font-family: 'PT Sans', sans-serif;
	font-size: 26px;
	font-weight: 700;	
}
.cm-add-post__desc {
	label {
		display: block;
		margin-bottom: 15px;
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		font-weight: 700;
	}
	input, textarea {		
		margin-bottom: 25px;
		border: 1px solid #cecece;
		@include border-radius(3px);
	}
	input {
		width: 779px;
		height: 30px;
		padding: 0 7px;
	}
	textarea {
		width: 793px;
		height: 215px;
	}
}
.cm-add-post__detail {
	margin-bottom: 20px;
	button {
		position: relative;
		height: 25px;
		padding-left: 30px;
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;		
	}
	i {
		position: absolute;
		top: 0;
		left: 0;
		@include sized-sprite($community_img, add-pic);
	}
}
.cm-add-post__pic {
	i {
		@include sized-sprite($community_img, add-pic);
	}
}
.cm-add-post__video {
	i {
		@include sized-sprite($community_img, add-video);
	}
}
.cm-add-post__audio {
	i {
		@include sized-sprite($community_img, add-audio);
	}
}
.cm-add-post__btns {
	padding-bottom: 2px;
	overflow: hidden;
}
.cm-add-post__publish, .cm-add-post__save {
	@extend %btn-blue-mod;
}
.cm-add-post__publish {
	float: left;	
}
.cm-add-post__save {
	float: right;
	@include background-image(linear-gradient(#b8b8b8, #b0b0b0));
}
//html area
.jHtmlArea {
	margin-bottom: 20px;
	background: #fff;	
	border: 1px solid #cecece;
	@include border-radius(3px);
}
.ToolBar {
	height: 34px;
	border-bottom: 1px solid #cecece;
	ul {
		padding-left: 15px;
		overflow: hidden;
	}
	li {
		float: left;
		padding: 7px;
	}
	a {
		display: block;		
		&.bold {
			@include sized-sprite($community_img, html-bold);
		}
		&.italic {
			@include sized-sprite($community_img, html-ital);
		}
		&.quote {
			@include sized-sprite($community_img, html-quote);
		}
		&.link {
			@include sized-sprite($community_img, html-link);
		}
	}
}
//cm-article
.cm-article {

}
.cm-article__title {
	margin-bottom: 35px;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 27px;
	line-height: 1.4;
	span {
		border-bottom: 1px solid #d4d4d4;
	}
}
.cm-desc {
	margin-bottom: 40px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	p {
		font-size: 17px;
		line-height: 1.3;
	}
}
.cm-author {
	margin-bottom: 20px;
	overflow: hidden;
	img, a {
		float: left;
	}
	img {
		margin-right: 8px;
	}
	a {
		height: 26px;
		line-height: 26px;		
		font-size: 14px;
		color: #000;
		text-decoration: underline;		
	}
}
//cm-detail
.cm-detail {
	margin-bottom: 15px;
	overflow: hidden;
	span, a {
		float: left;
		padding-left: 25px;
		margin-right: 25px;
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		color: #999;
	}
	.cm-detail__date {
		padding-left: 0px;
	}
}
.cm-detail__view, .cm-detail__comm, .cm-detail__like {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0px;
		left: 0;
	}
}
.cm-detail__view {
	&:before {
		@include sized-sprite($community_img, view);
	}
}
.cm-detail__comm {
	&:before {
		@include sized-sprite($community_img, comm);
	}
}
.cm-detail__like {
	&:before {
		@include sized-sprite($community_img, like);
	}
}
//cm-users
.cm-users {
	margin-bottom: 25px;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	img {
		float: left;
		margin-right: 4px;
	}
	p {
		float: left;
		margin-left: 10px;
		height: 26px;
		line-height: 26px;
		font-family: 'PT Sans', sans-serif;
		font-size: 12px;
		color: #999;
	}
	a {
		color: #999;
		text-decoration: underline;
	}
}
//cm-comm
.cm-comm {

}
.cm-comm__view-all {
	margin-bottom: 30px;
	a {
		font-family: 'PT Sans', sans-serif;
		font-size: 12px;
		text-decoration: underline;
		color: #000;
	}
}
.cm-comm__item {
	margin-bottom: 15px;
	p {
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
	}
}
.cm-comm__detail {
	margin-bottom: 5px;
	overflow: hidden;
	img, a {
		float: left;
	}
	span {
		float: right;
	}
	a, span {
		height: 26px;
		line-height: 26px;
		font-family: 'PT Sans', sans-serif;
	}
	img {
		margin-right: 8px;
	}
	a {
		font-size: 14px;
		font-weight: 700;
		color: #000;
		text-decoration: underline;		
	}
	span {		
		font-size: 12px;
		color: #999;
	}
}
//cm-comm__add
.cm-comm__add {
	margin-top: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	img {
		float: left;
	}
	textarea {
		float: right;
		width: 775px;
		min-height: 35px;
		padding: 7px 10px;
		border: 1px solid #e2e2e2;
		@include border-radius(5px);
		@include box-shadow(rgba(0,0,0,0.1) 0 0 7px inset);
		resize: vertical;
		font-family: Arial, Tahoma, sans-serif;
	}
}
//cm-pagination
.cm-pagination {
	margin: 25px 0 50px 0;
	overflow: hidden;
	a {
		float: left;
		margin-right: 40px;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 16px;
		color: #000;
		&.active {
			color: #c2c2c2;
		}
	}
}
.cm-pagination__prev {
	margin-top: 2px;
	@include sized-sprite($community_img, navi_prev);
}
.cm-pagination__next {
	margin-top: 2px;
	@include sized-sprite($community_img, navi_next);
}
//banner-wide
.banner-wide {
	margin-bottom: 20px;
}