@import "base";
//styles for inner pages
.container_inner {
	margin-top: 93px;
}
.hl-title {
	position: relative;
	height: 170px;	
	line-height: 170px;
	text-align: center;
	span {
		font-family: 'AG_Futura Bold';
		font-size: 48px;
	}
	.logo {
		top: 34px;
		a {
			@include sized-sprite($hotel_img, logo-s);
		}		
	}
}
.hl-tabs {
	margin-bottom: 30px;
	text-align: center;
	font-size: 0;
	li {
		display: inline-block;
		height: 30px;
		padding: 0 15px;
	}
	a {
		display: block;
		height: 30px;
		padding: 0 10px;
		line-height: 30px;					
		font-family: 'Futuris Bold';
		font-size: 16px;	
		color: #000;	
		&.active {	
			@extend %btn-orange;
			text-shadow: none;
			span {
				border-bottom: none;
			}
		}
	}
	span {
		border-bottom: 1px dotted #000;	
	}
}
.hl-tabs_sort {
	margin: 35px 0 30px 0;
	li {
		&:first-child {
			height: 30px;
			line-height: 30px;
			font-family: 'Futuris';
			font-size: 18px;
		}
	}
}
.hl-slider {
	ul {		
		width: 1250px;
		height: 370px;
	}
	li {
		position: relative;
		float: left;
		margin-left: 25px;
		&:first-child {
			margin-left: 0;
		}
	}
	img {
		display: block;
	}
}
.hl-slider__desc, .hl-hotels__desc {
	position: absolute;
	top: 170px;
	left: 0;
	width: 100%;
	text-align: center;
	span {
		display: block;	
		margin-bottom: 3px;
		font-family: 'Futuris Bold';
		font-size: 30px;	
		color: #fff;		
	}
	img {
		display: inline-block;
	}
}
.hl-search {
	.h2 {
		padding: 55px 0 20px 0;
		font-family: "Futuris";
		letter-spacing: 2px;
	}
	form {
		padding: 25px 0 25px 215px;
		border: 1px solid #e6e6e6;
		border-width: 1px 0 1px 0;
		overflow: hidden;
	}
}
.hl-search__place, .hl-search__people, .hl-search__date, .hl-search__submit {
	float: left;
	margin-right: 15px;
	label {
		display: block;
		margin-bottom: 5px;
		font-family: 'Futuris Bold';
		font-size: 14px;
	}
	input, span {
		height: 37px;
		padding: 0 5px;
		border: 1px solid #e6e6e6;
		@include border-radius(3px);
		background: #f8f8f8;
	}
}
.hl-search__place {
	input {
		width: 330px;
	}
}
.hl-search__people {	
	span {
		position: relative;
		display: block;
		width: 134px;
		cursor: pointer;
		&:after {
			content: "";
			position: absolute;
			top: 14px;
			right: 9px;
			@include sized-sprite($hotel_img, arr);
		}
	}
}
.hl-search__date {
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 29px;
		right: 8px;
		@include sized-sprite($hotel_img, date);
	}
	input {
		width: 138px;
	}
}
.hl-search__sbt {
	height: 39px;
	padding: 0 25px;
	margin-top: 19px;
	@extend %btn-orange;
	font-family: 'Futuris Bold';
	font-size: 18px;
}
.hl-search__options {
	margin-top: 20px;
	clear: both;
	span {
		position: relative;
		padding-right: 20px;
		font-family: 'Futuris Bold';
		font-size: 14px;
		cursor: pointer;
		&:after {
			content: "";
			position: absolute;
			top: 4px;
			right: 0;
			@include sized-sprite($hotel_img, arr);
		}
	}
}
.hl-hotels {
	overflow: hidden;
	ul {
		padding-bottom: 38px;
		margin: 0 -30px 44px 0;
		border-bottom: 1px solid #e6e6e6;
		overflow: hidden;
		&:last-child {
			border: none;
		}
	}
	li {
		float: left;
		width: 400px;
		margin-right: 25px;
	}
	p {
		position: relative;
		height: 60px;
		font-size: 18px;
	}
}
.hl-hotels__pic {
	position: relative;
	margin-bottom: 18px;
	img {
		display: block;
	}
}
.hl-hotels__desc {
	img {
		display: inline-block;
	}
}
.hl-hitels__map {
	position: relative;
	display: block;
	margin-bottom: 18px;
	padding-left: 20px;
	font-size: 12px;
	text-transform: uppercase;
	color: #000;
	&:after {
		content: "";
		position: absolute;
		top: -2px;
		left: 0;
		@include sized-sprite($hotel_img, map);
	}
}
.hl-hotels__detail {
	overflow: hidden;
}
.hl-hotels__comm, .hl-hotels__rate {
	float: left;
	height: 41px;
	line-height: 41px;
}
.hl-hotels__comm {
	position: relative;
	width: 42px;
	padding-left: 22px;
	font-size: 12px;
	color: #000;
	&:before {
		content: "";
		position: absolute;
		top: 14px;
		left: 0;
		@include sized-sprite($hotel_img, comm);
	}
}
.hl-hotels__rate {
	width: 120px;
	img {
		display: block;
		margin-top: 10px;
	}
}
.hl-hotels__eval {
	float: left;
	margin-top: 10px;
	@include sized-sprite($hotel_img, eval);
}
.hl-hotels__reserve {
	float: right;
	height: 41px;
	padding: 0 20px;
	line-height: 41px;
	@extend %btn-orange;
	font-family: 'Futuris Bold';
	font-size: 18px;
}