@import "base";
//styles for inner pages
//community
.cm-top {
	min-height: 90px;
	overflow: hidden;
}
.cm-title {
	float: left;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 60px;
	text-transform: uppercase;	
}
.cm-add {
	float: right;
	padding-top: 15px;
}
.cm-add__btn {
	width: 150px;
	margin-bottom: 10px;
	@extend %btn-blue;
	text-align: center;
}
.cm-add__detail {
	overflow: hidden;
	button {
		float: left;
	}
}
.cm-add__pic {
	@include sized-sprite($community_img, add-pic);
}
.cm-add__video {
	@include sized-sprite($community_img, add-video);
}
.cm-add__audio {
	@include sized-sprite($community_img, add-audio);
}
.cm-add__desc {
	@include sized-sprite($community_img, add-desc);
}
.cm-add__man {
	@include sized-sprite($community_img, add-man);
}
//cm-add-post
.cm-add-post {
	display: none;
	padding: 35px 20px 25px 20px;
	margin: 30px 0 60px 0;
	background: #f7f7f7;
	border-top: 4px solid #e1e1e1;	
}
.cm-add-post__title {
	margin-bottom: 25px;
	font-family: 'PT Sans', sans-serif;
	font-size: 26px;
	font-weight: 700;	
}
.cm-add-post__desc {
	label {
		display: block;
		margin-bottom: 15px;
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		font-weight: 700;
	}
	input, textarea {		
		margin-bottom: 25px;
		border: 1px solid #cecece;
		@include border-radius(3px);
	}
	input {
		width: 779px;
		height: 30px;
		padding: 0 7px;
	}
	textarea {
		width: 793px;
		height: 215px;
	}
}
.cm-add-post__detail {
	margin-bottom: 20px;
	button {
		position: relative;
		height: 25px;
		padding-left: 30px;
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;		
	}
	i {
		position: absolute;
		top: 0;
		left: 0;
		@include sized-sprite($community_img, add-pic);
	}
}
.cm-add-post__pic {
	i {
		@include sized-sprite($community_img, add-pic);
	}
}
.cm-add-post__video {
	i {
		@include sized-sprite($community_img, add-video);
	}
}
.cm-add-post__audio {
	i {
		@include sized-sprite($community_img, add-audio);
	}
}
.cm-add-post__btns {
	padding-bottom: 2px;
	overflow: hidden;
}
.cm-add-post__publish, .cm-add-post__save {
	@extend %btn-blue;
	height: 30px !important;
}
.cm-add-post__publish {
	float: left;	
}
.cm-add-post__save {
	float: right;
}
//html area
.jHtmlArea {
	margin-bottom: 20px;
	background: #fff;	
	border: 1px solid #cecece;
	@include border-radius(3px);
}
.ToolBar {
	height: 34px;
	border-bottom: 1px solid #cecece;
	ul {
		padding-left: 15px;
		overflow: hidden;
	}
	li {
		float: left;
		padding: 7px;
	}
	a {
		display: block;		
		&.bold {
			@include sized-sprite($community_img, html-bold);
		}
		&.italic {
			@include sized-sprite($community_img, html-ital);
		}
		&.quote {
			@include sized-sprite($community_img, html-quote);
		}
		&.link {
			@include sized-sprite($community_img, html-link);
		}
	}
}
//cm-article
.cm-article {

}
.cm-article__title {
	margin-bottom: 35px;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 27px;
	line-height: 1.4;
	span {
		border-bottom: 1px solid #d4d4d4;
	}
}
.cm-desc {
	margin-bottom: 40px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	p {
		font-size: 17px;
		line-height: 1.3;
	}
}
.cm-author {
	margin-bottom: 20px;
	overflow: hidden;
	img, a {
		float: left;
	}
	img {
		margin-right: 8px;
	}
	a {
		height: 26px;
		line-height: 26px;		
		font-size: 14px;
		color: #000;
		text-decoration: underline;		
	}
}
//cm-detail
.cm-detail {
	margin-bottom: 15px;
	overflow: hidden;
	span, a {
		float: left;
		padding-left: 25px;
		margin-right: 25px;
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		color: #999;
	}
	.cm-detail__date {
		padding-left: 0px;
	}
}
.cm-detail__view, .cm-detail__comm, .cm-detail__like {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0px;
		left: 0;
	}
}
.cm-detail__view {
	&:before {
		@include sized-sprite($community_img, view);
	}
}
.cm-detail__comm {
	&:before {
		@include sized-sprite($community_img, comm);
	}
}
.cm-detail__like {
	&:before {
		@include sized-sprite($community_img, like);
	}
}
//cm-users
.cm-users {
	margin-bottom: 25px;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	img {
		float: left;
		margin-right: 4px;
	}
	p {
		float: left;
		margin-left: 10px;
		height: 26px;
		line-height: 26px;
		font-family: 'PT Sans', sans-serif;
		font-size: 12px;
		color: #999;
	}
	a {
		color: #999;
		text-decoration: underline;
	}
}
//cm-comm
.cm-comm {

}
.cm-comm__view-all {
	margin-bottom: 30px;
	a {
		font-family: 'PT Sans', sans-serif;
		font-size: 12px;
		text-decoration: underline;
		color: #000;
	}
}
.cm-comm__item {
	margin-bottom: 15px;
	p {
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
	}
}
.cm-comm__detail {
	margin-bottom: 5px;
	overflow: hidden;
	img, a {
		float: left;
	}
	span {
		float: right;
	}
	a, span {
		height: 26px;
		line-height: 26px;
		font-family: 'PT Sans', sans-serif;
	}
	img {
		margin-right: 8px;
	}
	a {
		font-size: 14px;
		font-weight: 700;
		color: #000;
		text-decoration: underline;		
	}
	span {		
		font-size: 12px;
		color: #999;
	}
}
//cm-comm__add
.cm-comm__add {
	margin-top: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	img {
		float: left;
	}
	textarea {
		float: right;
		width: 775px;
		min-height: 35px;
		padding: 7px 10px;
		border: 1px solid #e2e2e2;
		@include border-radius(5px);
		@include box-shadow(rgba(0,0,0,0.1) 0 0 7px inset);
		resize: vertical;
		font-family: Arial, Tahoma, sans-serif;
	}
}
//cm-pagination
.cm-pagination {
	margin: 25px 0 50px 0;
	overflow: hidden;
	a {
		float: left;
		margin-right: 40px;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 16px;
		color: #000;
		&.active {
			color: #c2c2c2;
		}
	}
}
.cm-pagination__prev {
	margin-top: 2px;
	@include sized-sprite($community_img, navi_prev);
}
.cm-pagination__next {
	margin-top: 2px;
	@include sized-sprite($community_img, navi_next);
}
//cm-gallery
.gallery {
	position: relative;
	margin-bottom: 20px;
}
.gallery-show {
	margin-bottom: 5px;
	img {
		display: block;
	}
}
.gallery__slider {
	position: relative;	
	overflow: hidden;	
}
.gallery__items {	
	overflow: hidden;
	a {
		float: left;
	}
	img {
		display: block;
	}
}
.gallery__prev, .gallery__next {
	position: absolute;
	top: 0;
	width: 23px;
	height: 100%;
	background: rgba(155,155,155,0.5);
	&:hover {
		background: rgba(0,153,255, 0.5);
	}
	i {
		position: absolute;
		top: 97;		
	}
}
.gallery__prev {
	left: 0;
	i {
		left: 5px;
		@include sized-sprite($community_img, gallery_prev);
	}
}
.gallery__next {
	right: 0;
	i {
		right: 5px;
		@include sized-sprite($community_img, gallery_next);
	}
}
//cm_profile
.cm-profile {
	margin-bottom: 20px;
	overflow: hidden;
}
.cm-profile__pic {
	float: left;
	padding: 6px;
	background: #fff;
	border: 1px solid #bfbfbf;
	@include border-radius(4px);
	img {
		display: block;
	}
}
.cm-profile__detail {
	float: right;
	width: 1057px;
	height: 148px;
	padding: 20px 0 0 15px;
	background: #f6f6f6;
	border: 1px solid #bfbfbf;
	@include border-radius(3px);
}
.cm-user__info {
	font-family: 'PT Sans', Arial, sans-serif;
	float: left;
	width: 345px;
}
.cm-user__name {
	margin-bottom: 15px;
	font-weight: 700;
	color: $blue;
	font-size: 21px;
}
.cm-user__meta {
	margin-bottom: 10px;
	li {
		margin-bottom: 5px;
		font-size: 15px;
		color: #666;
		&:first-child {
			margin-bottom: 15px;
		}
	}
	span {	
		margin-left: 5px;
		font-weight: 700;
		color: #000;
	}
}
.cm-user__social {
	font-size: 0;
	a {
		display: inline-block;
		margin-right: 3px;
		@include border-radius(5px);
		@include box-shadow(rgba(255,255,255,0.3) 0 2px 1px inset, rgba(0,0,0,0.3) 0 -2px 1px inset, rgba(0,0,0,0.25) 0 3px 2px);
	}
	i {
		display: block;
	}
}
.cm-user__fb {
	border: 1px solid #3259a6;
	background: #5681cf;
	@include background-image(linear-gradient(#5681cf, #2e56ae));
	i {
		@include sized-sprite($community_img, pr-fb);
	}	
}
.cm-user__vk {
	border: 1px solid #329fd6;
	background: #5cc3f3;
	@include background-image(linear-gradient(#5cc3f3, #3fade0));
	i {
		@include sized-sprite($community_img, pr-vk);
	}
}
.cm-friends__title, .cm-user-photo__title, .cm-user-like_photo, .cm-settings__album-title {
	margin-bottom: 15px;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 13px;
	color: $blue;
	text-transform: uppercase;
	text-align: center;
	&:before {
		content: "- ";
	}
	&:after {
		content: " -";
	}
}
//cm-friends
.cm-friends {
	float: left;
	width: 200px;
	margin-right: 50px;
	ul {
		overflow: hidden;
	}
	li {
		position: relative;
		float: left;
		padding: 4px 3px;
	}
	img {
		display: block;
		border: 2px solid #fff;
		@include border-radius(3px);
		@include box-shadow(rgba(0,0,0,0.3) 0 2px 4px);
	}
	span {
		position: absolute;
		top: 0;
		right: 0;
		@include border-radius(50%);
		@include box-shadow(rgba(255,255,255,0.3) 0 2px 1px inset, rgba(0,0,0,0.3) 0 -2px 1px inset, rgba(0,0,0,0.25) 0 1px 2px);
	}
	i {
		display: block;
	}
}
.cm-friends__fb {
	span {
		border: 1px solid #3259a6;
		background: #5681cf;
		@include background-image(linear-gradient(#5681cf, #2e56ae));
	}	
	i {
		@include sized-sprite($community_img, fr-fb);
	}
}
.cm-friends__vk {	
	span {
		border: 1px solid #329fd6;
		background: #5cc3f3;
		@include background-image(linear-gradient(#5cc3f3, #3fade0));
	}
	i {
		@include sized-sprite($community_img, fr-vk);
	}
}
//cm-user-photo
.cm-user-photo {
	float: left;
	margin-right: 50px;
}
.cm-user-photo__title {
	margin-bottom: 9px;
}
.cm-user-photo__pic {
	position: relative;
	padding: 10px;
	overflow: hidden;
	&:before, &:after {
		content: "";
		position: absolute;
		width: 56px;
		height: 56px;
		background: #f6f6f6;
		@include box-shadow(rgba(0,0,0,0.3) 0 0 10px);
		@include border-radius(5px);
		@include rotate(45);
	}
	&:before {
		bottom: -30px;
		left: -30px;
	}
	&:after {
		top: -30px;
		right: -30px;
	}
	img {
		display: block;
		border: 2px solid #fff;
		@include border-radius(3px);
		@include box-shadow(rgba(0,0,0,0.3) 0 2px 4px);
	}
}
//cm-user-like
.cm-user-like {
	float: left;
	padding: 0 5px 5px 0;
}
.cm-user-like__block {
	position: relative;	
	&:before {
		content: "";
		position: absolute;
		top: 3px;
		right: -2px;
		width: 100%;
		height: 100%;
		background: #fff;
		@include border-radius(3px);
		@include box-shadow(rgba(0,0,0,0.3) 0 2px 4px);
 	}
	
}
.cm-user-like__pic {
	position: relative;
	border: 2px solid #fff;
	@include border-radius(3px);
	@include box-shadow(rgba(0,0,0,0.3) 0 2px 4px);
	overflow: hidden;
	z-index: 10;
	a {
		float: left;
		&:first-child {
			margin-right: 2px;
		}
	}
	img {
		display: block;
	}
}
//banner-wide
.banner-wide {
	margin-bottom: 20px;
}
//icons
.ico-pub-write {
	@include sized-sprite($community_img, add-desc);
}
.ico-pub-photo {
	@include sized-sprite($community_img, add-pic);
}
.ico-pub-audio {
	@include sized-sprite($community_img, add-audio);
}
.ico-pub-video {
	@include sized-sprite($community_img, add-video);
}
.ico-pub-man {
	@include sized-sprite($community_img, add-man);
}
.ico-stg-gen {
	@include sized-sprite($community_img, ico-tab-gen);
}
.ico-stg-priv {
	@include sized-sprite($community_img, ico-tab-priv);
}
.ico-stg-notif {
	@include sized-sprite($community_img, ico-tab-notif);
}
.ico-stg-fb {
	@include sized-sprite($community_img, stg-fb);
}
.ico-stg-tw {
	@include sized-sprite($community_img, stg-tw);
}
.ico-stg-vk {
	@include sized-sprite($community_img, stg-vk);
}
.ico-stg-pn {
	@include sized-sprite($community_img, stg-pn);
}
.ico-add-photo {
	@include sized-sprite($community_img, photo_btn);
}
.ico-add-gallery {
	@include sized-sprite($community_img, photo_btn1);
}
//cm-publich
.cm-publish {	
	margin-bottom: 35px;
	border: 1px solid #bebebe;
}
.cm-tabs {
	height: 37px;
	padding: 5px 0 0 8px;	
	background: #f9f9f9;
	border-bottom: 1px solid #c4c4c4;
	@include background-image(linear-gradient(#f9f9f9 0px, #ededed 45px));
	li {
		position: relative;
		float: left;
		height: 22px;
		padding: 15px 20px 0 45px;
		border-left: 1px solid #dbdbdb;		
		@include box-shadow(#fff -1px 0 0);
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 13px;
		color: $blue;
		cursor: pointer;
		&:last-child {
			border-right: 1px solid #dbdbdb;
			@include box-shadow(#fff -1px 0 0, #fff -1px 0 0 inset);
		}
		&.active {
			position: relative;
			top: 1px;
			background: #fff;
			font-weight: 700;
			color: #444;
			cursor: default;
		}
	}
	i {
		position: absolute;
		top: 9px;
		left: 8px;
	}
}
.cm-publish__write, .cm-publish__audio, .cm-publish__video, .cm-publish__man {
	textarea {
		display: block;
		width: 848px;
		height: 90px;
		padding: 20px 10px 10px 10px;		
		resize: vertical;
		font-family: 'PT Sans', Arial, sans-serif;
	}
}
.cm-publish__photo {
	padding: 23px 20px;
	overflow: hidden;
	li {
		position: relative;
		float: left;
		height: 70px;
		width: 70px;
		margin-right: 25px;
		padding: 1px;
		border: 1px dashed #9f9f9f;
		@include box-shadow(0 1px 0 rgba(203,203,203,.8), inset 0 1px 0 rgba(255,255,255,.75));
		@include background-image(linear-gradient(bottom, #e7e7e7 0%, #fff 100%));
		@include border-radius(3px);
	}
	img {
		@include border-radius(3px);
	}
	button {
		position: absolute;
		top: -6px;
		right: -9px;
		padding: 4px;
		@include background-image(linear-gradient(bottom, #e8e8e8 0%, #f5f5f5 100%));
		@include border-radius(3px);
		border: 1px solid #e1e1e1;
		i {		
			display: block;
			@include sized-sprite($events_img, close);
		}
		&:hover {
			i {
				@include sized-sprite($events_img, close-act);
			}			
		}
	}
}
.cm-publish__man {
	ul {
		padding: 8px 0;
		margin: 0 8px;
		border-bottom: 1px solid #bebebe;
		overflow: hidden;
	}
	li {
		float: left;
		margin-right: 10px;
		&:first-child {
			input {
				width: 253px;
				margin-right: 50px;
				background: none;
			}
		}
	}
	label, input {
		float: left;		
		font-family: 'PT Sans', Arial, sans-serif;
	}
	label {
		height: 30px;
		margin-right: 10px;
		line-height: 30px;		
		font-size: 14px;
		color: #999;
	}
	input {
		width: 90px;
		height: 28px;
		padding: 0 10px;
		border: 1px solid #bebebe;
		background: url(../img/community_img/icons/dp.png) no-repeat 90% 50%;
		@include border-radius(2px);
		font-weight: 700;
	}	
}
.cm-pudlish__go, .cm-settings__bottom {
	padding: 5px 15px;
	background: #efefef;
	border-top: 1px solid #dbdbdb;
	overflow: hidden;
	input {
		float: right;		
		@extend %btn-blue;	
		height: 30px;	
	}
	button {
		position: relative;
		float: left;
		height: 22px;
		margin: 3px 50px 0 0;
		padding-left: 35px;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 16px;
		color: $blue;		
		line-height: 1;
	}
	i {
		position: absolute;
		top: 0;
		left: 0;
	}
}
//cm-wall
.cm-wall {
	overflow: hidden;
}
.cm-wall__posts {
	margin-right: -50px;
	overflow: hidden;
}
//cm-post
.cm-post {
	float: left;
	width: 410px;
	margin: 0 46px 10px 0;
	border: 1px solid #bebebe;
}
.cm-post_pic {
	.cm-post__top {
		span {
			margin-right: 3px;
		}
		i {
			@include sized-sprite($community_img, add-pic);
		}
	}	
}
.cm-post_write {
	.cm-post__top {
		span {
			margin-right: 3px;
		}
		i {
			@include sized-sprite($community_img, add-desc);
		}
	}	
}
.cm-post_man {
	.cm-post__top {
		span {
			margin-right: 3px;
		}
		i {
			@include sized-sprite($community_img, add-man);
		}
	}	
}
.cm-post_video {
	.cm-post__top {
		span {
			margin-right: 3px;
		}
		i {
			@include sized-sprite($community_img, add-video);
		}
	}	
}
.cm-post__top {
	padding: 10px 0 10px 8px;
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
	font-family: 'PT Sans', Arial, sans-serif;
	img, a {
		float: left;
	}
	img {
		margin-right: 12px;
	}
	a {
		width: 150px;		
		font-size: 13px;
		color: $blue;
		text-decoration: underline;
		font-weight: 700;
	}
	span, i {
		float: right;
	}
	span {
		height: 26px;
		margin-right: 8px;
		line-height: 26px;
		font-size: 12px;
		color: #666;
	}
	i {
		margin: 1px 3px 0 0;
	}
}
.cm-post__text {
	padding: 12px 10px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #242020;
	line-height: 1.2;
}
.cm-post__gallery {
	height: 339px;
	padding: 0 8px;
	margin-bottom: 10px;
}
.cm-post__detail {
	height: 30px;
	padding-left: 15px;
	line-height: 30px;
	background: #efefef;
	overflow: hidden;
}
.cm-post__detail-item {
	float: left;
	&:first-child {
		width: 50%;	
	}	
	&:last-child {
		float: right;
		margin: 5px 5px 0 0;
	}
}
.cm-post__edit, .cm-post__remove {
	float: left;	
}
.cm-post__edit {
	margin-right: 3px;
	@include sized-sprite($community_img, post-edit);
	&:hover {
		@include sized-sprite($community_img, post-edit-act);
	}
}
.cm-post__remove {
	@include sized-sprite($community_img, post-remove);
	&:hover {
		@include sized-sprite($community_img, post-remove-act);
	}
}
//cm-post-comm, cm-post-like, .cm-post-date
.cm-post-comm, .cm-post-like {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	color: $blue;
	strong {
		position: relative;
		padding-left: 30px;
		font-size: 11px;
		font-weight: 700;
		color: #9e9e9e;
	}
	i {
		position: absolute;
		top: 2px;
		left: 11px;
	}
	&:hover {		
		span {
			text-decoration: underline;
		}
	}
}
.cm-post-comm {
	i {
		@include sized-sprite($community_img, post-comm);
	}
}
.cm-post-like {
	i {
		@include sized-sprite($community_img, post-like);
	}
}
.cm-post-date {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 12px;
	color: #666;
}
//cm-post__comm
.cm-post__comm-list {
	overflow: hidden;
	li {
		padding: 8px 10px;
		margin-top: 2px;
		background: #efefef;
	}
}
.cm-post__comm-pic {
	float: left;
	margin-right: 8px;
	img {
		display: block;
	}
}
.cm-post__comm-text {
	margin-bottom: 8px;
	overflow: hidden;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	a {
		margin-right: 12px;
		font-weight: 700;
		text-decoration: underline;
		color: $blue;
	}
}
.cm-post__comm-detail {
	padding-left: 34px;
	overflow: hidden;
	.cm-post-date {
		float: left;
	}
	.cm-post-like {
		float: right;
		&:hover {
			span {  
				text-decoration: none;
			}
			strong {
				color: $blue;
			}
			i {
				@include sized-sprite($community_img, post-like-act);
			}
		}
	}
}
.cm-post__comm-add {
	margin-top: 2px;
	padding: 8px 10px;
	background: #efefef;
	overflow: hidden;
	img {
		float: left;
	}
	textarea {
		float: right;
		width: 340px;
		height: 17px;
		padding: 4px 7px;
		border: 1px solid #c1c1c1;
		resize: vertical;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 13px;
		&:focus {
			@include box-shadow($blue 0 0 0 1px inset);
		}
	}
}
//cm-post__place
.cm-post__place {
	padding: 12px 10px 16px 10px;
	overflow: hidden;
}
.cm-post__place-pic {
	float: left;
	margin-right: 20px;
	img {
		display: block;
	}
}
.cm-post__place-detail {
	overflow: hidden;
	.rating {
		margin-bottom: 7px;
		padding-left: 15px;
	}
}
.cm-post__place-cat, 
.cm-post__place-title, 
.cm-post__like-cat, 
.cm-post__like-title,
.cm-post__event-cat,
.cm-post__event-title, {
	margin-bottom: 5px;
	a {
		font-family: 'AG_Futura Bold', Arial, sans-serif;		
		color: #000;
		text-transform: uppercase;		
	}	
}
.cm-post__place-cat, 
.cm-post__like-cat,
.cm-post__event-cat {
	a {
		font-size: 10px;
		letter-spacing: 2px;
	}
}
.cm-post__place-title, 
.cm-post__like-title,
.cm-post__event-title {
	a {
		border-bottom: 1px solid #d4d4d4;
		font-size: 14px;
		line-height: 1.4;
	}
}
.cm-post__place-map {
	position: relative;
	margin-bottom: 10px;
	padding-left: 17px;
	a {		
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 13px;
		color: #000;
		text-decoration: underline;
	}
	i {
		position: absolute;
		top: 0;
		left: 0;
		@include sized-sprite($community_img, marker);
	}
}
.cm-post__place-rate {
	padding-left: 15px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	color: #696969;
}
//cm-post__like
.cm-post__like {

}
.ribble {
	position: relative;
	width: 372px;
	height: 36px;
	margin: 13px 0 0 -1px;
	line-height: 36px;
	text-align: center;
	span {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $blue;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;
		z-index: 10;
		&:before {
			content: "- ";
		}
		&:after {
			content: " -";
		}
	}
	i {
		position: relative;
		top: 2px;
		display: inline-block;
		margin: 0 4px;
		@include sized-sprite($community_img, like-w);
		vertical-align: center;
	}
	strong {
		position: relative;
		display: block;
		height: 36px;
		&:after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			right: 0px;
			top: 100%;
			border-width: 4px 9px;
			border-style: solid;
			border-color: #034480 transparent transparent #034480;		
		}
		&:before {
			content: "";
			position: absolute;
			width: 6px;
			height: 0;
			right: -24px;
			top: 8px;
			border-width: 18px 18px;
			border-style: solid;
			border-color: #045fb4 transparent #045fb4 #045fb4;
		}
	}	
}
.ribble_red {
	span {
		background: #ff3366;
	}
	strong {
		&:after {
			border-color: #a61036 transparent transparent #a61036;	
		}
		&:before {
			border-color: #c9274f transparent #c9274f #c9274f;
		}
	}
}
.cm-post__like-detail {
	padding: 17px 10px 22px 10px;
	overflow: hidden;
}
.cm-post__like-pic {
	float: left;
	margin-right: 20px;
	border: 2px solid #fff;
	@include box-shadow(rgba(0,0,0,0.5) 0 2px 4px);
	img {
		display: block;
	}
}
//cm-post__man-detail
.cm-post__man-detail {
	position: relative;
	padding: 30px 10px 30px 38px;
	overflow: hidden;
	strong {
		display: block;
		padding-top: px;
		font-family: "PTSans", Arial, sans-serif;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.3;
	}
	i {
		float: left;
		margin-right: 38px;
		@include sized-sprite($community_img, man);
	}
}
//cm-post__event
.cm-post__event {
	padding: 12px;
	overflow: hidden;
}
.cm-post__event-pic {
	float: left;
	margin-right: 16px;
	img {
		display: block;
	}
}
.cm-post__event-date {
	margin-bottom: 5px;
	color: #0dbba9;
	font-family: "AG_Futura Bold", Arial, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.cm-post__event-title {
	margin-bottom: 10px;
}
.cm-post__event-go {
	display: inline-block;
	height: 22px;
	padding: 3px;
	line-height: 22px;
	@include border-radius(20px);
	border: 1px solid #d2d2d2;
	&:hover {
		strong {
			@include background-image(linear-gradient(104deg, #09ccb6 26.5%, #5af2e1 102.5%));
		}
	}
	strong, a {
		float: left;
		margin-right: 20px;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 14px;
		font-weight: 700;
	}
	strong {		
		padding: 0 15px;
		background: #d8d8d8;		
		@include border-radius(11px);
		color: #fff
	}
	a {
		color: #0dbba9;
	}
	span {
		border-bottom: 1px dashed #a3a3a3;
	}
}
.cm-post__video {
	padding: 0 10px 10px 10px;
}
//cm-box
.cm-box {
	margin-bottom: 13px;
	border: 1px solid #bebebe;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
}
.cm-box_action {
	.cm-box__top {
		i {
			@include sized-sprite($community_img, box-act);
		}
	}
}
.cm-box_friends, .cm-box_pic, .cm-box_like {
	.cm-box__content {
		padding: 10px 0 5px 5px;
	}	
}
.cm-box_friends {
	.cm-box__top {
		i {
			@include sized-sprite($community_img, box-fr);
		}
	}
}
.cm-box_pic {
	.cm-box__top {
		i {
			@include sized-sprite($community_img, box-pic);
		}
	}
}
.cm-box_like {
	.cm-box__top {
		i {
			@include sized-sprite($community_img, box-like);
		}
	}
}
.cm-box_users {
	.cm-box__top {
		i {
			@include sized-sprite($community_img, box-users);
		}
	}
}
.cm-box__top {
	position: relative;
	padding: 17px 0 12px 40px;
	border-bottom: 1px solid #bebebe;
	background: #f9f9f9;
	@include background-image(linear-gradient(#f9f9f9 0px, #ededed 45px));
	a {
		color: $blue;
	}		
	i {
		position: absolute;
		top: 12px;
		left: 12px;
	}
}	
.cm-box__all {
	height: 30px;
	padding-left: 9px;
	background: #efefef;
	line-height: 30px;
	a {
		color: #696969;
	}
}
.cm-box__content {
	padding: 10px 0 10px 5px;
}
//cm-box__actions
.cm-box__actions {
	li {
		border-top: 1px solid #dcdcdc;
		overflow: hidden;
		&:first-child {
			border: none;
		}
	}
	p {
		margin-bottom: 3px;
		font-size: 14px;
		color: #878787;
		line-height: 1.3;
		a {
			color: $blue;
		}
	}	
}
.cm-box__actions-like {
	i {
		@include sized-sprite($community_img, box-act-like);
	}
}
.cm-box__actions-audio {
	i {
		@include sized-sprite($community_img, box-act-audio);
	}
}
.cm-box__actions-friend {	
	i {
		@include sized-sprite($community_img, box-act-friend);
	}
}
.cm-box__actions-pic {
	position: relative;
	float: left;
	margin-right: 10px;
	img {
		display: block;
	}
	i {
		position: absolute;
		left: 4px;
		bottom: 4px;
	}
}
.cm-box__info {
	a {
		position: relative;
		float: left;
		margin-right: 12px;
		font-size: 11px;
		color: #8a8a8a;
		font-weight: 700px;
	}
	i {
		position: absolute;
		top: 1px;
		left: 0;
	}
}
.cm-box__info-like {
	padding-left: 18px;
	i {
		@include sized-sprite($community_img, post-like);
	}
}
.cm-box__info-comm {
	padding-left: 21px;
	i {
		@include sized-sprite($community_img, post-comm);
	}
}
//cm-box__friends
.cm-box__list {
	overflow: hidden;
	li {
		position: relative;
		float: left;
		margin: 0 5px 5px 0;
	}
	img {
		display: block;
	}
	strong {
		position: absolute;
		left: 0;
		bottom: 5px;
		padding: 0 6px;
		font-size: 13px;
		font-weight: 700;
		color: #fff;
	}
	a {
		color: $blue;
	}
	span {
		display: block;
		padding: 3px 0;
		font-size: 12px;
	}
}
//cm-box__users
.cm-box__users {
	font-size: 0;
	li {
		padding: 5px 0 5px 8px;
		border-top: 1px solid #dcdcdc;
		&:first-child {
			border: none;
		}
	}
}
.cm-box__users-points, .cm-box__users-pic, .cm-box__users-name, .cm-box__users-awards {
	display: inline-block;
	vertical-align: middle;
}
.cm-box__users-points {
	width: 60px;
	padding: 3px 0;
	margin-right: 15px;
	border-style: solid;
	border-color: #ff6600;
	border-width: 1px 0 1px 0;
	color: #ff6600;
	strong {
		display: block;
		font-family: "AG_Futura Bold", Arial, sans-serif;
		font-size: 16px;
	}
	span {
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 10px;
		text-transform: uppercase;
	}
}
.cm-box__users-pic {
	margin-right: 10px;
	img {
		border: 2px solid #fff;
		@include border-radius(50%);
		@include box-shadow(rgba(0,0,0,0.4) 0 2px 4px);
	}	
}
.cm-box__users-name {
	width: 110px;
	margin-right: 10px;
	overflow: hidden;
	a {
		position: relative;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 14px;
		color: $blue;
		font-weight: 700;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 20px;
			height: 100%;
			@include background-image(linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1)));
		}
	}	
}
.cm-box__users-awards {
	img {
		margin-right: 3px;
	}
	a {
		font-size: 14px;
		color: $blue;
	}
}
//cm-settings
.cm-settings {
	border: 1px solid #bebebe;
	background: #f8f8f8;
	.cm-tabs {
		li {
			&.active {
				background: #f8f8f8;
			}
		}		
	}
}
.cm-settings__general {
	padding: 30px 15px;
	overflow: hidden;
	font-family: 'PT Sans', Arial, sans-serif;
}
.cm-settings__user {
	float: left;
	width: 410px;
	img {
		float: left;
		margin-right: 20px;
		padding: 6px;
		background: #fff;
		border: 1px solid #bfbfbf;
		@include border-radius(4px);
	}
	strong {
		display: block;
		padding: 10px 0;
		font-size: 21px;
		color: $blue;
		font-weight: 700;
		line-height: 1.3;
	}
	p {
		font-size: 15px;
	}
	span {
		margin-right: 5px;
		color: #666;
	}
}
.cm-settings__album {
	float: right;
	width: 396px;	
}
.cm-settings__ava {
	margin-bottom: 15px;
	padding: 4px;
	border: 1px solid #b7b7b7;
	@include border-radius(4px);
	background: #fff;
	overflow: hidden;
	li {
		position: relative;
		float: left;
		margin-left: 4px;
		border: 2px solid #fff;
		@include border-radius(3px);
		&:first-child {
			margin: 0;
		}
		&:hover {
			border-color: $blue;
			button {
				display: block;
			}
		}
	}
	img {
		display: block;
	}
	button {
		display: none;
		position: absolute;
		top: -3px;
		right: -3px;
		padding: 4px;
		@include background-image(linear-gradient(bottom, #e8e8e8 0%, #f5f5f5 100%));
		@include border-radius(3px);
		border: 1px solid #e1e1e1;
	}
	i {		
		display: block;
		@include sized-sprite($community_img, close);
	}
}
.cm-settings__btn {	
	overflow: hidden;
	button {
		float: right;
		height: 29px;
		margin-left: 6px;
		padding: 0 10px;
		border: 1px solid #dedede;
		@include border-radius(5px);
		background-color: #09f;
		@include background-image(linear-gradient(bottom, #e8e8e8, #f5f5f5));
		color: #656565;
		font-family: "AG_Futura Bold", Arial, sans-serif;
		font-size: 14px;
		@include text-shadow(0 1px 0 #fff);
	}
}
.cm-settings__social {
	strong {
		display: block;
		height: 45px;
		padding-left: 20px;
		border: 1px solid #dadbdc;
		border-width: 1px 0 1px 0;
		background: #fff;
		@include background-image(linear-gradient(#fff, #fcfcfc));
		line-height: 45px;
		color: #464444;
		font-family: "PT Sans", Arial, sans-serif;
		font-weight: 700;
		font-size: 17px;
	}
	ul {
		padding: 30px 20px 40px 20px;
		overflow: hidden;
	}
	li {
		float: left;
		width: 50%;
		height: 34px;
		margin-bottom: 18px;
		line-height: 34px;
	}
	i, p {
		float: left;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 15px;
		color: #999;
	}
	i {
		margin-right: 22px;
	}
	p {
		margin-right: 15px;
	}
	a {
		color: #999;
		text-decoration: underline;
	}
	span {
		margin-right: 5px;
		font-weight: 700;
		color: $blue;
	}
	button {
		float: left;
		padding: 4px;
		margin-top: 8px;
		@include background-image(linear-gradient(bottom, #e8e8e8 0%, #f5f5f5 100%));
		@include border-radius(3px);
		border: 1px solid #e1e1e1;
		&:hover {
			em {
				@include sized-sprite($community_img, close-act);
			}
		}
	}
	em {		
		display: block;
		@include sized-sprite($community_img, close);
	}
}
//cm-settings__private, .cm-settings__notific
.cm-settings__title {
	padding: 30px 0 20px 20px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	strong {
		margin-right: 15px;		
		color: #464444;		
		font-weight: 700;		
	}
	span {
		margin-right: 20px;
		color: $blue;
	}
	button {
		@include sized-sprite($community_img, edit);
	}
}
.cm-settings__list {
	li {  
		height: 34px;
		line-height: 34px;
		border-top: 1px solid #ddddde;
		overflow: hidden;
		&:first-child {
			border: none;
		}
		&:nth-child(even) {
			background: #fff;
			@include background-image(linear-gradient(#fff, #fcfcfc));
		}
	}
	label {
		position: relative;
		float: left;
		width: 50%;		
		&.active {
			i {
				@include sized-sprite($community_img, checkbox-act);
			}
			span {
				color: #333;
			}
		}	
		input {
			display: none;
		}	
	}	
	i {
		position: absolute;
		top: 9px;
		right: 40px;
		@include sized-sprite($community_img, checkbox);
	}
	span {
		display: block;
		padding: 0 40px 0 20px;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 15px;
		color: #999;
	}	
}