@import "base";
//styles for inner pages
.inner {
	height: 70px;
	margin-top: -20px;
	background: url(../img/hotel_img/inner.jpg) no-repeat 50% 0;
	background-size: cover;
	border-bottom: 5px solid #1a113a;
}
.h2_hl {
	margin-bottom: 30px;
	border-bottom: 1px solid #e8e8e8;
}
//hotels
.hl-title {
	margin-bottom: 25px;
	text-align: center;
	font-family: 'Futuris Bold', Arial, sans-serif;
	font-size: 48px;
}
.hl-rating {
	margin-bottom: 25px;
	text-align: center;
	font-size: 0;
	.rating {
		display: inline-block;
	}
}
.hl-tabs {
	margin-bottom: 30px;
	text-align: center;
	font-size: 0;
	li {
		display: inline-block;
		height: 30px;
		padding: 0 15px;
	}
	a {
		display: block;
		height: 30px;
		padding: 0 10px;
		line-height: 30px;					
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 16px;	
		color: #000;	
		&.active {	
			@extend %btn-orange;
			text-shadow: none;
			span {
				border-bottom: none;
			}
		}
	}
	span {
		border-bottom: 1px dotted #000;	
	}
}
.hl-tabs_sort {
	margin: 35px 0 30px 0;
	li {
		&:first-child {
			height: 30px;
			line-height: 30px;
			font-family: 'Futuris', Arial, sans-serif;
			font-size: 18px;
		}
	}
}
.hl-slider {
	ul {		
		width: 1250px;
		height: 370px;
	}
	li {
		position: relative;
		float: left;
		margin-left: 25px;
		&:first-child {
			margin-left: 0;
		}
	}
	img {
		display: block;
	}
}
.hl-slider__desc, .hl-hotels__desc {
	position: absolute;
	top: 170px;
	left: 0;
	width: 100%;
	text-align: center;
	span {
		display: block;	
		margin-bottom: 3px;
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 30px;	
		color: #fff;		
	}
	.rating {
		display: inline-block;
	}
}
.hl-search {
	.h2 {
		padding: 55px 0 20px 0;
		font-family: "Futuris";
		letter-spacing: 2px;
	}
	form {
		padding: 25px 0 25px 215px;
		border: 1px solid #e6e6e6;
		border-width: 1px 0 1px 0;
		overflow: hidden;
	}
}
.hl-search__place, .hl-search__rating {
	float: left;
	margin-right: 15px;
	label, span {
		display: block;
		margin-bottom: 5px;
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 14px;
	}
	input {
		height: 37px;
		padding: 0 10px;
		border: 1px solid #e6e6e6;
		@include border-radius(3px);
		background: #f8f8f8;
		font-size: 16px;
	}
}
.hl-search__place {
	input {
		width: 320px;
	}
}
.hl-search__rating {
	span {
		margin-bottom: 15px;
	}
}
.hl-search__sbt {
	float: left;
	height: 39px;
	padding: 0 25px;
	margin-top: 19px;
	@extend %btn-orange;
	font-family: 'Futuris Bold', Arial, sans-serif;
	font-size: 18px;
}
.hl-search__options {
	padding-top: 20px;
	clear: both;
	span {
		position: relative;
		padding-right: 20px;
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 14px;
		cursor: pointer;
		&:after {
			content: "";
			position: absolute;
			top: 4px;
			right: 0;
			@include sized-sprite($hotel_img, arr);
		}
		&.active {
			&:after {
				@include sized-sprite($hotel_img, arr1);
			}
		}
	}
	ul {
		display: none;
		margin-top: 10px;
	}
	li {
		margin-bottom: 10px;
	}
}
.hl-hotels {
	overflow: hidden;
	ul {
		padding-bottom: 38px;
		margin: 0 -30px 44px 0;
		border-bottom: 1px solid #e6e6e6;
		overflow: hidden;
		&:last-child {
			border: none;
		}
	}
	li {
		float: left;
		width: 300px;
		margin-right: 16px;
	}
	p {
		position: relative;
		height: 49px;
		margin-bottom: 15px;
		font-size: 16px;
		overflow: hidden;
	}	
}
.hl-hotels__pic {
	position: relative;
	margin-bottom: 18px;
	img {
		display: block;
	}
	.rating {
		display: inline-block;
	}
}
.hl-hotels__desc {
	top: 115px;
	img {
		display: inline-block;
	}
}
.hl-hitels__map {
	position: relative;
	display: block;
	margin-bottom: 15px;
	line-height: 1.3;
	padding-left: 20px;
	font-size: 12px;
	text-transform: uppercase;
	color: #000;
	&:after {
		content: "";
		position: absolute;
		top: -2px;
		left: 0;
		@include sized-sprite($hotel_img, map);
	}
}
.hl-hotels__detail {
	padding-bottom: 1px;
	overflow: hidden;
	.rating {
		float: left;
		margin: 5px 5px 0 0;
	}
}
.hl-hotels__comm {
	position: relative;	
	float: left;
	height: 30px;	
	padding-left: 22px;
	margin-right: 5px;
	line-height: 30px;
	font-size: 12px;
	color: #000;
	&:before {
		content: "";
		position: absolute;
		top: 8px;
		left: 0;
		@include sized-sprite($hotel_img, comm);
	}
}
.hl-hotels__eval {
	float: left;
	margin-top: 9px;
	@include sized-sprite($hotel_img, like);
}
.hl-hotels__reserve {
	float: right;
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	@extend %btn-orange;
	font-family: 'Futuris Bold', Arial, sans-serif;
	font-size: 16px;
}
//hotel item
.hl-place-info {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e2e2e2;
	overflow: hidden;
	ul {
		float: left;
		width: 33%;
	}
	li {
		height: 26px;
		line-height: 26px;
		font-size: 18px;
	}
	strong {
		float: left;
		width: 120px;
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 14px;
	}
	img {
		margin: 2px 5px 0 0;
	}
}
//hl-details
.hl-details {
	margin-bottom: 40px;
	overflow: hidden;
}
.hl-details__desc {
	float: left;
	width: 790px;
	span {
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 27px;
	}
}
.hl-details__cols {
	padding: 30px 0 0 0;
	-webkit-column-count: 2;
	   -moz-column-count: 2;
				  column-count: 2;
	-webkit-column-gap: 40px;
	   -moz-column-gap: 40px;
	        column-gap: 40px;
	p {
		display: inline-block;
		margin-bottom: 15px;
		line-height: 1.3;
	}
}
.hl-details__contacts {
	float: right;
	width: 426px;
	padding: 10px 0 0 25px;
	border-left: 1px solid #e8e8e8;
	strong {
		display: block;
		margin-bottom: 10px;
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 14px;
	}
	p {
		margin-bottom: 25px;
		font-size: 18px;
	}
	a {
		color: #000;
	}
	.rating {
		margin-bottom: 20px;
	}
}
.hl-hotel-map {
	margin-bottom: 80px;
}
//hl-events
.hl-events {
	margin-bottom: 50px;
}
.hl-events__list {
	text-align: center;
	font-size: 0;
	li {
		display: inline-block;
		width: 260px;
		padding: 10px;
	}
}
.hl-events__pic, .hl-events__date, .hl-events__title {
	margin-bottom: 10px;
}
.hl-events__pic {
	img {
		display: inline-block;
	}
}
.hl-events__date {
	font-size: 12px;
	letter-spacing: 2px;
}
.hl-events__title {
	a {
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-size: 18px;
		color: #000;
		line-height: 1.2;
	}	
}
.hl-events__desc {
	p {
		font-size: 14px;
		line-height: 1.3;
	}
}
//hl-comm
.hl-comm {
	margin-bottom: 40px;
	overflow: hidden;
}
.hl-comm-list {
	float: left;
	width: 770px;
	ul {
		margin-bottom: 30px;
	}
	li {
		padding: 25px 0;
		border-top: 1px solid #e8e8e8;
		overflow: hidden;
		&:first-child {
			border :none;
		}
	}
}
.hl-comm-list__title {	
	margin-bottom: 5px;
	font-family: 'Futuris Bold', Arial, sans-serif;
	font-size: 18px;
}
.hl-comm-list__pic {
	float: left;
	margin-right: 20px;
	img {
		display: block;
	}
}
.hl-comm-list__desc {
	overflow: hidden;
	a {
		color: #000;
	}
	.rating {
		margin-bottom: 10px;
	}
}
.hl-comm-list__name {
	margin-bottom: 7px;
	overflow: hidden;
	p {
		float: left;
		font-size: 11px;
	}
	a {
		margin-right: 5px;
		font-family: 'Futuris Bold', Arial, sans-serif;
		font-weight: bold;
		font-size: 18px;
	}
}
.hl-comm-list__txt {
	font-size: 16px;
}
.hl-comm-add {
	float: right;
	width: 392px;
	font-size: 14px;
	label, strong {
		display: block;
		margin-bottom: 10px;		
		font-family: 'Futuris Bold', Arial, sans-serif;	
		color: #000;
	}
	strong {
		margin-bottom: 8px;
	}
	.hl-comm-add__name, textarea {
		width: 370px;
		background: #f8f8f8;
		border: 1px solid #e6e6e6;
		@include border-radius(4px);
		font-family: Arial, sans-serif;
		font-size: 14px;
	}
	.hl-comm-add__name {
		margin-bottom: 20px;
		padding: 0 10px;
		height: 32px;
	}
	textarea {
		display: block;
		margin-bottom: 12px;
		padding: 7px 10px;
		height: 100px;
		resize: vertical;
	}
	.rating-choice {
		margin: 5px 0 25px 0;
	}
}
.hl-comm-add__title {
	margin-bottom: 30px;
	font-family: 'Futuris Bold', Arial, sans-serif;	
	font-size: 18px;
}
.hl-comm-add__sbt {
	height: 40px;
	padding: 0 15px;
	@extend %btn-orange;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 16px;
}
//hl-others
.hl-others {
	margin-bottom: 50px;
	ul {
		overflow: hidden;
		text-align: center;
		font-size: 0;
	}	
	li {
		display: inline-block;
		padding: 0 15px;
	}
}
.hl-others__pic {
	margin-bottom: 15px;
	img {
		display: block;
	}
}
.hl-others__title {
	margin-bottom: 5px;
	a {
		font-size: 18px;
		text-transform: uppercase;
		color: #000;
	}
}
.hl-others__rating {
	margin-bottom: 12px;
	.rating {
		display: inline-block;
	}
}
.hl-others__detail {
	a {
		position: relative;
		display: inline-block;
		padding-left: 23px;
		font-size: 13px;
		color: #aaa;
	}
	i {
		position: absolute;
		top: -2px;
	}
}
.hl-others__view {
	i {
		left: 0;
		@include sized-sprite($hotel_img, hl-view);		
	}
}
.hl-others__comm {
	i {
		left: 5px;
		@include sized-sprite($hotel_img, hl-comm);		
	}
}
//hl-map
.hl-map {

}
.hl-map__type { 
	position: relative;
	padding-bottom: 30px; 
	margin-bottom: 30px;
	text-align: center;  
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		top: 140px;
		left: 20px;
		right: 20px;
		height: 20px;
		@include border-radius(50px);
		@include box-shadow(rgba(0,0,0,0.1) 0 0 90px);
	}
	li {
		display: inline-block;
		width: 90px;
		padding: 0 4px;
		vertical-align: top;
		&:first-child {
			margin-right: 0px;
		}
	}
	a {
		position: relative;
		display: block;
		padding-top: 65px;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 12px;
		color: #898989;
		&.active {
			color: #000;
		}
	}
	span {
		border-bottom: 1px solid #e3e3e3;
		line-height: 1.5;
	}
	i {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -36px;
	}
}
.hl-map__t1 {
	i {
		@include sized-sprite($hotel_img, mt1);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt1a);
		}			
	}
}
.hl-map__t2 {
	i {
		@include sized-sprite($hotel_img, mt2);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt2a);
		}			
	}
}
.hl-map__t3 {
	i {
		@include sized-sprite($hotel_img, mt3);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt3a);
		}			
	}
}
.hl-map__t4 {
	i {
		@include sized-sprite($hotel_img, mt4);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt4a);
		}			
	}
}
.hl-map__t5 {
	i {
		@include sized-sprite($hotel_img, mt5);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt5a);
		}			
	}
}
.hl-map__t6 {
	i {
		@include sized-sprite($hotel_img, mt6);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt6a);
		}			
	}
}
.hl-map__t7 {
	i {
		@include sized-sprite($hotel_img, mt7);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt7a);
		}			
	}
}
.hl-map__t8 {
	i {
		@include sized-sprite($hotel_img, mt8);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt8a);
		}			
	}
}
.hl-map__t9 {
	i {
		@include sized-sprite($hotel_img, mt9);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt9a);
		}			
	}
}
.hl-map__t10 {
	i {
		@include sized-sprite($hotel_img, mt10);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt10a);
		}			
	}
}
.hl-map__t11 {
	i {
		@include sized-sprite($hotel_img, mt11);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt11a);
		}			
	}
}
.hl-map__t12 {
	i {
		@include sized-sprite($hotel_img, mt12);		
	}	
	&.active {
		i {
			@include sized-sprite($hotel_img, mt12a);
		}			
	}
}
.hl-map__search {
	margin-bottom: 30px;
	text-align: center;
	label, input {
		display: inline-block;
		height: 33px;
		vertical-align: top;
	}
	label {
		padding-right: 15px;
		line-height: 33px;
		font-family: 'Futuris Bold', Arial, sans-serif;	
		font-size: 14px;
	}
	input[type="text"] {
		width: 554px;
		padding: 0 10px;
		margin-right: 9px;
		border: 1px solid #e9e9e9;
		@include border-radius(3px);
		background: #fafafa;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 14px;
	}
	input[type="submit"] {
		@extend %btn-orange;
		padding: 0 30px;
		font-family: 'Futuris Bold', Arial, sans-serif;	
		font-size: 18px;
	}
}
.hl-map__container {
	margin-bottom: 50px;
}


//community
.cm-top {
	min-height: 90px;
	overflow: hidden;
}
.cm-title {
	float: left;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 60px;	
}
.cm-add {
	float: right;
	padding-top: 15px;
}
.cm-add__btn {
	width: 150px;
	margin-bottom: 10px;
	@extend %btn-blue-mod;
	text-align: center;
}
.cm-add__detail {
	overflow: hidden;
	button {
		float: left;
	}
}
.cm-add__pic {
	@include sized-sprite($community_img, add-pic);
}
.cm-add__video {
	@include sized-sprite($community_img, add-video);
}
.cm-add__audio {
	@include sized-sprite($community_img, add-audio);
}
.cm-add__desc {
	@include sized-sprite($community_img, add-desc);
}
.cm-add__man {
	@include sized-sprite($community_img, add-man);
}
//cm-add-post
.cm-add-post {
	display: none;
	padding: 35px 20px 25px 20px;
	margin: 30px 0 60px 0;
	background: #f7f7f7;
	border-top: 4px solid #e1e1e1;	
}
.cm-add-post__title {
	margin-bottom: 25px;
	font-family: 'PT Sans', sans-serif;
	font-size: 26px;
	font-weight: 700;	
}
.cm-add-post__desc {
	label {
		display: block;
		margin-bottom: 15px;
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		font-weight: 700;
	}
	input, textarea {		
		margin-bottom: 25px;
		border: 1px solid #cecece;
		@include border-radius(3px);
	}
	input {
		width: 779px;
		height: 30px;
		padding: 0 7px;
	}
	textarea {
		width: 793px;
		height: 215px;
	}
}
.cm-add-post__detail {
	margin-bottom: 20px;
	button {
		position: relative;
		height: 25px;
		padding-left: 30px;
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;		
	}
	i {
		position: absolute;
		top: 0;
		left: 0;
		@include sized-sprite($community_img, add-pic);
	}
}
.cm-add-post__pic {
	i {
		@include sized-sprite($community_img, add-pic);
	}
}
.cm-add-post__video {
	i {
		@include sized-sprite($community_img, add-video);
	}
}
.cm-add-post__audio {
	i {
		@include sized-sprite($community_img, add-audio);
	}
}
.cm-add-post__btns {
	padding-bottom: 2px;
	overflow: hidden;
}
.cm-add-post__publish, .cm-add-post__save {
	@extend %btn-blue-mod;
}
.cm-add-post__publish {
	float: left;	
}
.cm-add-post__save {
	float: right;
	@include background-image(linear-gradient(#b8b8b8, #b0b0b0));
}
//html area
.jHtmlArea {
	margin-bottom: 20px;
	background: #fff;	
	border: 1px solid #cecece;
	@include border-radius(3px);
}
.ToolBar {
	height: 34px;
	border-bottom: 1px solid #cecece;
	ul {
		padding-left: 15px;
		overflow: hidden;
	}
	li {
		float: left;
		padding: 7px;
	}
	a {
		display: block;		
		&.bold {
			@include sized-sprite($community_img, html-bold);
		}
		&.italic {
			@include sized-sprite($community_img, html-ital);
		}
		&.quote {
			@include sized-sprite($community_img, html-quote);
		}
		&.link {
			@include sized-sprite($community_img, html-link);
		}
	}
}
//cm-article
.cm-article {

}
.cm-article__title {
	margin-bottom: 35px;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 27px;
	line-height: 1.4;
	span {
		border-bottom: 1px solid #d4d4d4;
	}
}
.cm-desc {
	margin-bottom: 40px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	p {
		font-size: 17px;
		line-height: 1.3;
	}
}
.cm-author {
	margin-bottom: 20px;
	overflow: hidden;
	img, a {
		float: left;
	}
	img {
		margin-right: 8px;
	}
	a {
		height: 26px;
		line-height: 26px;		
		font-size: 14px;
		color: #000;
		text-decoration: underline;		
	}
}
//cm-detail
.cm-detail {
	margin-bottom: 15px;
	overflow: hidden;
	span, a {
		float: left;
		padding-left: 25px;
		margin-right: 25px;
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		color: #999;
	}
	.cm-detail__date {
		padding-left: 0px;
	}
}
.cm-detail__view, .cm-detail__comm, .cm-detail__like {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0px;
		left: 0;
	}
}
.cm-detail__view {
	&:before {
		@include sized-sprite($community_img, view);
	}
}
.cm-detail__comm {
	&:before {
		@include sized-sprite($community_img, comm);
	}
}
.cm-detail__like {
	&:before {
		@include sized-sprite($community_img, like);
	}
}
//cm-users
.cm-users {
	margin-bottom: 25px;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	img {
		float: left;
		margin-right: 4px;
	}
	p {
		float: left;
		margin-left: 10px;
		height: 26px;
		line-height: 26px;
		font-family: 'PT Sans', sans-serif;
		font-size: 12px;
		color: #999;
	}
	a {
		color: #999;
		text-decoration: underline;
	}
}
//cm-comm
.cm-comm {

}
.cm-comm__view-all {
	margin-bottom: 30px;
	a {
		font-family: 'PT Sans', sans-serif;
		font-size: 12px;
		text-decoration: underline;
		color: #000;
	}
}
.cm-comm__item {
	margin-bottom: 15px;
	p {
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
	}
}
.cm-comm__detail {
	margin-bottom: 5px;
	overflow: hidden;
	img, a {
		float: left;
	}
	span {
		float: right;
	}
	a, span {
		height: 26px;
		line-height: 26px;
		font-family: 'PT Sans', sans-serif;
	}
	img {
		margin-right: 8px;
	}
	a {
		font-size: 14px;
		font-weight: 700;
		color: #000;
		text-decoration: underline;		
	}
	span {		
		font-size: 12px;
		color: #999;
	}
}
//cm-comm__add
.cm-comm__add {
	margin-top: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	img {
		float: left;
	}
	textarea {
		float: right;
		width: 775px;
		min-height: 35px;
		padding: 7px 10px;
		border: 1px solid #e2e2e2;
		@include border-radius(5px);
		@include box-shadow(rgba(0,0,0,0.1) 0 0 7px inset);
		resize: vertical;
		font-family: Arial, Tahoma, sans-serif;
	}
}
//cm-pagination
.cm-pagination {
	margin: 25px 0 50px 0;
	overflow: hidden;
	a {
		float: left;
		margin-right: 40px;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 16px;
		color: #000;
		&.active {
			color: #c2c2c2;
		}
	}
}
.cm-pagination__prev {
	margin-top: 2px;
	@include sized-sprite($community_img, navi_prev);
}
.cm-pagination__next {
	margin-top: 2px;
	@include sized-sprite($community_img, navi_next);
}
//cm-gallery
.gallery {
	position: relative;
	margin-bottom: 20px;
}
.gallery-show {
	margin-bottom: 5px;
	img {
		display: block;
	}
}
.gallery__slider {
	position: relative;	
	overflow: hidden;	
}
.gallery__items {	
	overflow: hidden;
	a {
		float: left;
	}
	img {
		display: block;
	}
}
.gallery__prev, .gallery__next {
	position: absolute;
	top: 0;
	width: 23px;
	height: 100%;
	background: rgba(155,155,155,0.5);
	i {
		position: absolute;
		top: 97;		
	}
}
.gallery__prev {
	left: 0;
	i {
		left: 5px;
		@include sized-sprite($community_img, gallery_prev);
	}
}
.gallery__next {
	right: 0;
	i {
		right: 5px;
		@include sized-sprite($community_img, gallery_next);
	}
}
//cm_profile
.cm-profile {
	margin-bottom: 20px;
	overflow: hidden;
}
.cm-profile__pic {
	float: left;
	padding: 6px;
	background: #fff;
	border: 1px solid #bfbfbf;
	@include border-radius(4px);
	img {
		display: block;
	}
}
.cm-profile__detail {
	float: right;
	width: 1057px;
	height: 148px;
	padding: 20px 0 0 15px;
	background: #f6f6f6;
	border: 1px solid #bfbfbf;
	@include border-radius(3px);
}
.cm-user__info {
	font-family: 'PT Sans', Arial, sans-serif;
	float: left;
	width: 345px;
}
.cm-user__name {
	margin-bottom: 15px;
	font-weight: 700;
	color: $blue;
	font-size: 21px;
}
.cm-user__meta {
	margin-bottom: 10px;
	li {
		margin-bottom: 5px;
		font-size: 15px;
		color: #666;
		&:first-child {
			margin-bottom: 15px;
		}
	}
	span {	
		margin-left: 5px;
		font-weight: 700;
		color: #000;
	}
}
.cm-user__social {
	font-size: 0;
	a {
		display: inline-block;
		margin-right: 3px;
		@include border-radius(5px);
		@include box-shadow(rgba(255,255,255,0.3) 0 2px 1px inset, rgba(0,0,0,0.3) 0 -2px 1px inset, rgba(0,0,0,0.25) 0 3px 2px);
	}
	i {
		display: block;
	}
}
.cm-user__fb {
	border: 1px solid #3259a6;
	background: #5681cf;
	@include background-image(linear-gradient(#5681cf, #2e56ae));
	i {
		@include sized-sprite($community_img, pr-fb);
	}	
}
.cm-user__vk {
	border: 1px solid #329fd6;
	background: #5cc3f3;
	@include background-image(linear-gradient(#5cc3f3, #3fade0));
	i {
		@include sized-sprite($community_img, pr-vk);
	}
}
.cm-friends__title, .cm-user-photo__title, .cm-user-like_photo {
	margin-bottom: 15px;
	font-family: 'AG_Futura Bold', Arial, sans-serif;
	font-size: 13px;
	color: $blue;
	text-transform: uppercase;
	text-align: center;
	&:before {
		content: "- ";
	}
	&:after {
		content: " -";
	}
}
//cm-friends
.cm-friends {
	float: left;
	width: 200px;
	margin-right: 50px;
	ul {
		overflow: hidden;
	}
	li {
		position: relative;
		float: left;
		padding: 4px 3px;
	}
	img {
		display: block;
		border: 2px solid #fff;
		@include border-radius(3px);
		@include box-shadow(rgba(0,0,0,0.3) 0 2px 4px);
	}
	span {
		position: absolute;
		top: 0;
		right: 0;
		@include border-radius(50%);
		@include box-shadow(rgba(255,255,255,0.3) 0 2px 1px inset, rgba(0,0,0,0.3) 0 -2px 1px inset, rgba(0,0,0,0.25) 0 1px 2px);
	}
	i {
		display: block;
	}
}
.cm-friends__fb {
	span {
		border: 1px solid #3259a6;
		background: #5681cf;
		@include background-image(linear-gradient(#5681cf, #2e56ae));
	}	
	i {
		@include sized-sprite($community_img, fr-fb);
	}
}
.cm-friends__vk {	
	span {
		border: 1px solid #329fd6;
		background: #5cc3f3;
		@include background-image(linear-gradient(#5cc3f3, #3fade0));
	}
	i {
		@include sized-sprite($community_img, fr-vk);
	}
}
//cm-user-photo
.cm-user-photo {
	float: left;
	margin-right: 50px;
}
.cm-user-photo__title {
	margin-bottom: 9px;
}
.cm-user-photo__pic {
	position: relative;
	padding: 10px;
	overflow: hidden;
	&:before, &:after {
		content: "";
		position: absolute;
		width: 56px;
		height: 56px;
		background: #f6f6f6;
		@include box-shadow(rgba(0,0,0,0.3) 0 0 10px);
		@include border-radius(5px);
		@include rotate(45);
	}
	&:before {
		bottom: -30px;
		left: -30px;
	}
	&:after {
		top: -30px;
		right: -30px;
	}
	img {
		display: block;
		border: 2px solid #fff;
		@include border-radius(3px);
		@include box-shadow(rgba(0,0,0,0.3) 0 2px 4px);
	}
}
//cm-user-like
.cm-user-like {
	float: left;
	padding: 0 5px 5px 0;
}
.cm-user-like__block {
	position: relative;	
	&:before {
		content: "";
		position: absolute;
		top: 3px;
		right: -2px;
		width: 100%;
		height: 100%;
		background: #fff;
		@include border-radius(3px);
		@include box-shadow(rgba(0,0,0,0.3) 0 2px 4px);
 	}
	
}
.cm-user-like__pic {
	position: relative;
	border: 2px solid #fff;
	@include border-radius(3px);
	@include box-shadow(rgba(0,0,0,0.3) 0 2px 4px);
	overflow: hidden;
	z-index: 10;
	a {
		float: left;
		&:first-child {
			margin-right: 2px;
		}
	}
	img {
		display: block;
	}
}
//banner-wide
.banner-wide {
	margin-bottom: 20px;
}
//icons
.ico-pub-write {
	@include sized-sprite($community_img, add-desc);
}
.ico-pub-photo {
	@include sized-sprite($community_img, add-pic);
}
.ico-pub-audio {
	@include sized-sprite($community_img, add-audio);
}
.ico-pub-video {
	@include sized-sprite($community_img, add-video);
}
.ico-pub-man {
	@include sized-sprite($community_img, add-man);
}
//cm-publich
.cm-publish {	
	margin-bottom: 35px;
	border: 1px solid #bebebe;
}
.cm-publish__type {
	height: 37px;
	padding: 5px 0 0 8px;	
	background: #f9f9f9;
	@include background-image(linear-gradient(#f9f9f9 0px, #ededed 45px));
	li {
		position: relative;
		float: left;
		height: 22px;
		padding: 15px 20px 0 45px;
		border-left: 1px solid #dbdbdb;		
		@include box-shadow(#fff -1px 0 0);
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 13px;
		color: $blue;
		cursor: pointer;
		&:last-child {
			border-right: 1px solid #dbdbdb;
			@include box-shadow(#fff -1px 0 0, #fff -1px 0 0 inset);
		}
		&.active {
			position: relative;
			top: 1px;
			background: #fff;
			font-weight: 700;
			color: #444;
			cursor: default;
		}
	}
	i {
		position: absolute;
		top: 9px;
		left: 8px;
	}
}
.cm-publish__content {
	textarea {
		display: block;
		width: 848px;
		height: 90px;
		padding: 20px 10px 10px 10px;		
		border-top: 1px solid #c4c4c4;
		border-bottom: 1px solid #dcdcdc;
		resize: vertical;
		font-family: 'PT Sans', Arial, sans-serif;
	}
}
.cm-pudlish__go {
	padding: 4px;
	background: #efefef;
	overflow: hidden;
	input {
		float: right;
		height: 29px;
		padding: 0 15px;
		background: $blue;
		@include border-radius(4px);
		@include box-shadow(rgba(255,255,255,0.7) 0 1px 0);
		border: 1px solid #0168a9;
		font-family: 'AG_Futura Bold', Arial, sans-serif;
		font-size: 12px;
		color: #fff;
		cursor: pointer;
	}
}
//cm-wall
.cm-wall {

}
//cm-post
.cm-post {
	width: 410px;
	margin-bottom: 10px;
	border: 1px solid #bebebe;
}
.cm-post_pic {
	.cm-post__top {
		span {
			margin-right: 3px;
		}
		i {
			@include sized-sprite($community_img, add-pic);
		}
	}	
}
.cm-post_write {
	.cm-post__top {
		span {
			margin-right: 3px;
		}
		i {
			@include sized-sprite($community_img, add-desc);
		}
	}	
}
.cm-post__top {
	padding: 10px 0 10px 8px;
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
	font-family: 'PT Sans', Arial, sans-serif;
	img, a {
		float: left;
	}
	img {
		margin-right: 12px;
	}
	a {
		width: 150px;		
		font-size: 13px;
		color: $blue;
		text-decoration: underline;
		font-weight: 700;
	}
	span, i {
		float: right;
	}
	span {
		height: 26px;
		margin-right: 8px;
		line-height: 26px;
		font-size: 12px;
		color: #666;
	}
	i {
		margin: 1px 3px 0 0;
	}
}
.cm-post__text {
	padding: 12px 10px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #242020;
	line-height: 1.2;
}
.cm-post__gallery {
	padding: 0 8px;
	.gallery {
		margin-bottom: 10px;
	}
}
.cm-post__detail {
	height: 30px;
	padding: 0 15px;
	line-height: 30px;
	background: #efefef;
	overflow: hidden;
}
.cm-post__detail-item {
	float: left;
	width: 50%;	
}
//cm-post-comm, cm-post-like, .cm-post-date
.cm-post-comm, .cm-post-like {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	color: $blue;
	span {
		position: relative;
		padding-left: 30px;
		font-size: 11px;
		font-weight: 700;
		color: #9e9e9e;
	}
	i {
		position: absolute;
		top: 2px;
		left: 11px;
	}
}
.cm-post-comm {
	i {
		@include sized-sprite($community_img, post-comm);
	}
}
.cm-post-like {
	i {
		@include sized-sprite($community_img, post-like);
	}
}
.cm-post-date {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 12px;
	color: #666;
}
//cm-post__comm
.cm-post__comm-list {
	overflow: hidden;
	li {
		padding: 8px 10px;
		margin-top: 2px;
		background: #efefef;
	}
}
.cm-post__comm-pic {
	float: left;
	margin-right: 8px;
	img {
		display: block;
	}
}
.cm-post__comm-text {
	margin-bottom: 8px;
	overflow: hidden;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	a {
		margin-right: 12px;
		font-weight: 700;
		text-decoration: underline;
		color: $blue;
	}
}
.cm-post__comm-detail {
	padding-left: 34px;
	overflow: hidden;
	.cm-post-date {
		float: left;
	}
	.cm-post-like {
		float: right;
	}
}
.cm-post__comm-add {
	margin-top: 2px;
	padding: 8px 10px;
	background: #efefef;
	overflow: hidden;
	img {
		float: left;
	}
	textarea {
		float: right;
		width: 340px;
		height: 17px;
		padding: 4px 7px;
		border: 1px solid #c1c1c1;
		resize: vertical;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 13px;
	}
}
//cm-post__place
.cm-post__place {
	padding: 12px 10px 16px 10px;
	overflow: hidden;
}
.cm-post__place-pic {
	float: left;
	margin-right: 20px;
	img {
		display: block;
	}
}